[2020-05-04 14:20] jenshaase opened #1 "Improve destructing"
Destructing is currently only working for tuples. It should also work for Arrays and Tables. Example:

[code]

[code]

[2020-05-04 14:23] jenshaase opened #2 "Local Phel variable names do not match PHP Variables names"
In Phel the variable name can be like `my-name`. However, `$my-name` is not a valid PHP variable. Therefore, the variable name must be converted.

PHP variable names must be:
* of form `^[a-zA-Z_\x80-\xff][a-zA-Z0-9_\x80-\xff]*$`.
* `this` is not allowed

In PHP code:
[code]

[2020-05-04 17:03] #2 closed, assigned to nobody

[2020-05-12 15:16] #1 closed, assigned to nobody

[2020-05-14 21:25] jenshaase opened #3 "Create Readme file"
Create a Readme file for Github.

[2020-05-14 21:27] jenshaase opened #4 "Change Readme for VSCode plugin"
This Readme file is currently an automatically generated Readme file. It should contain basic information about the plugin and how to install it.

[2020-05-14 21:38] jenshaase opened #5 "Add a set data structure"
Currently Phel has Tuples, Arrays and Tables. It would be nice to have a Set data structure based on PHP Arrays. For example:
[code]

Methods on a set:
* union
* intersection
* difference
* join

[2020-05-15 17:51] jenshaase opened #6 "Analyzer: Check arity of function calls"
The analyzer should check if each function call has enough arguments given.

[2020-06-01 20:11] jenshaase opened #7 "Refactor Runtime class"
Runtime has a constructor and is also a Singleton. It should only have one possibility.

[2020-06-02 14:07] #3 closed, assigned to nobody

[2020-06-02 14:19] #4 closed, assigned to nobody

[2020-06-02 14:56] #7 closed, assigned to nobody

[2020-06-02 20:32] jenshaase opened #8 "Website Improvements"
* Favicon
* 404 Error Page
* htaccess Error Document
* Meta description
* Meta Keywords

[2020-06-02 20:36] jenshaase opened #9 "Add License File"

[2020-06-03 14:49] #9 closed, assigned to nobody

[2020-06-03 15:59] #8 closed, assigned to nobody

[2020-06-06 03:49] Lelectrolux opened #10 "Outrageous integration with laravel for fun and profit"
Hi, I love the project, I'm having a lot of fun tinkering with it, thanks a lot.

---

Right now, I'm looking at how deep I can go trying to use phel as laravel controllers.
Why ? Just because it's fun.

Getting it to run was really easy, just add the package to composer and install, slap

[code]

into `AppServiceProvider->register`, add a route macro for convenience

[code]

into `AppServiceProvi

[2020-06-06 03:51] Lelectrolux commented on #10
(But I do know I'm trying to do stupid stuff just for the sake of it, so just tell me if you don't want to deal with either this or crazy me \^\^, no hard feelings)

[2020-06-06 09:05] jenshaase commented on #10
This is cool!

I will try to reproduce it on my own. Regarding your questions

Will try to reproduce it and than fix this.

Yes, that definitely needs to be changed.

No, that will not work. `loadNs` is more like `require <file>` in PHP.

Yes that is quite easy. Just do `(php/<my-function-name> <arg1> <arg2> ...)`. For example `(php/strlen "test")`. I added this to the documentation: https://phel-

[2020-06-06 09:22] mabasic commented on #10
It would be cool if it would be possible to make a complete circle with php and phel.

eg. Start in php, call phel code/script, use php class in phel, return value from from phel to php, continue in php etc...

This is probably impossible and probably won't be used at all 😁, but sound nice.

It would certainly allow more php/laravel developers to experience fp while remaining in the php world. It

[2020-06-06 10:28] Chemaclass opened #14 "Add Psalm to the project"
I strongly suggest installing [psalm](https://psalm.dev/docs/running_psalm/installation/).
It works like charm.

## Supported annotations:

https://psalm.dev/docs/annotating_code/supported_annotations/

Some of my favorite annotations are: `@psalm-immutable`, `@psalm-pure`, `@psalm-return list<YourType>`, and much more!

[2020-06-06 10:34] jenshaase commented on #14
It already is installed (see composer.json and psalm.xml) and I make it almost work to level 3. It adds a lot of value but also has some false positive :(

[2020-06-06 10:39] Chemaclass commented on #14
Achso! My bad, I didn't look at the `composer.json`, I thought you didn't have it because I didn't see any `@psalm-{annotation}` (well, actually three of this `@psalm-suppress`). Did you try to reduce the number of false positives by using more psalm annotations?
Indeed, false positives are noise, but I'm sure we can get rid of them (at least most of them) by adding annotations or finding another

[2020-06-06 14:54] Lelectrolux commented on #10
@jenshaase

D'oh... Should have tested that on my own... Thanks

Yeah, I expected that \^\^. I know this is just me fooling around. But it doesn't seem that impossible.
I'm pretty sure I could hack it in a roundabout way with a static value bag.

Something like

[code]

[code]

I will publish a repo with my code or at least a gist of the few modified files if you want. I'll do that today.

[2020-06-06 15:57] Lelectrolux commented on #10
I got what it was.

Extra empty line at the end of the file added on save by my editor...

I just added
[code]
to my .editorconfig

[2020-06-06 16:21] jenshaase commented on #10
Fixed this bug.

[2020-06-06 16:25] Lelectrolux commented on #10
Okay, I have a "working" in and out solution.

I'm using a static input bag, and sidestepping the exit calls by throwing an exception as an "end-script" call.

[code]

[code]

It's an ugly baby, but it is alive \^\^

Still quite dumb, tho

[2020-06-06 21:24] jenshaase opened #15 "Mapcat is not working with empty arrays or tuples"
Following code fails

[code]

which is equivalent to

[code]

However, `concat` requires at least two arguments but there is only one

[2020-06-07 06:56] Chemaclass commented on #15
@jenshaase What would be the assert test that should pass for this `mapcat` failing case: `(mapcat identity @[])`?

It would be helpful to understand what do you exactly mean if you write the specific assertion that should pass from `tests/phel/test/core.phel`

[2020-06-07 07:14] Chemaclass opened #17 "Unifying the code style with "PHP CS Fixer""
Having a unified code style will allow every contributor to write code with the same style everywhere.

This is a great tool for it: https://github.com/FriendsOfPHP/PHP-CS-Fixer

A template example extracted from PHPUnit: https://github.com/sebastianbergmann/phpunit/blob/master/.php_cs.dist

[2020-06-07 08:29] #14 closed

[2020-06-07 12:13] jenshaase commented on #17
Sounds good. I look at it, but there are so many changes that I have to figure out a ruleset that isn't doing so many changes and than move this in the direction of PSR-12.

[2020-06-07 16:29] paullaffitte commented on #5
Actually there is already an implementation of [Set](https://www.php.net/manual/fr/class.ds-set.php) in PHP with the methods you quoted. Why not just use this instead of arrays?

[2020-06-07 18:57] jenshaase commented on #5
Thank @paullaffitte! I know of this. However, this is part of a separate module and these modules are mostly not part of cheap hosting providers. Therefore, I would go for a custom implementation based of PHP Arrays, just like the `Table` and `PhelArray`.

[2020-06-07 19:41] jenshaase commented on #17
This issue is now fixed:
* I set up a .php_cs.dist file
* Fixed the code according to the rules
* Integrated it into the CI

[2020-06-07 19:41] #17 closed

[2020-06-07 19:55] jenshaase commented on #15
Fixed

[2020-06-07 19:55] #15 closed

[2020-06-08 03:51] paullaffitte commented on #5
Oh ok I see. Should I consider performances in the first implementation or do you prefer to have something working quickly and improve its perfs later on?

[2020-06-08 12:08] Chemaclass opened #25 "Where is Struct instanciated?"
@jenshaase, I'm trying to find the usages of the `Struct` abstract class.
[code]

And the only place where I found this class being used is in the Printer, in order to print the correct type:
[code]

Being `Struct` an abstract class, it can not be instantiated on its own (by `new Struct`).
I didn't see any other class extending this abstract class as well. So the question is the following:
**Q**:

[2020-06-08 15:47] mabasic opened #26 "Getting started - The namespace is not valid"
While going though the documentation I've encountered this error right at the start:

[code]

When I change in file `src/boot.phel` this line `(ns hello-world\boot)` to `(ns hello_world\boot)`, the error goes away, but I am assuming that there is something wrong here..

Are the docs outdated or is there an error in namespace resolution?

If it is the docs, I can submit a PR if you want.

[2020-06-08 16:03] jenshaase commented on #5
Regarding performance there are two aspects.

- Runtime performance: This should as good as PHP itself because the code is compiled to PHP and than executed. The only thing that is slowing down are sub optimal implementations of the core libraries.
- Compile time performance: This is the time the compiler needs to compile the program. If optimized it already, but PHP currently has it's limitations

[2020-06-08 16:07] jenshaase commented on #25
Concrete classes of `Struct` are created by the Phel compiler using `defstruct` / `defstruct*`. Have a look at this test: https://github.com/jenshaase/phel-lang/blob/master/tests/php/Fixtures/Def/defstruct.test

[2020-06-08 16:18] jenshaase commented on #26
Thank for reporting this.

For now, I would say that this is a bug in the documentation. I had to restrict namespaces to the form of PHP namespaces. But I think it would be better to support namespaces with a `-`.

If you want, you can make a pull request to fix the documentation. I the meantime, I can have a look if it is possible to have namespaces with a `-`.

[2020-06-08 18:22] jenshaase commented on #26
I fixed this now. Namespaces with a dash are now supported and namespaces with a underscore throw an error. I also updated the documentation regarding the naming conventions:

"A valid namespace name starts with a letter, followed by any number of letters, numbers, or dashes. Individual parts of the namespace are seperated by the `\` character. "

No more need to update the Getting started documen

[2020-06-08 18:22] #26 closed

[2020-06-08 19:21] mabasic commented on #26
Great news! I've just tested it and it works.

P.S. For some reason, my email reply in which I said that I will send a PR for the documentatio did not go through. nvm.

P.S.S. Is there a place where I can ask you questions regarding the language. I find the language very interesting.

[2020-06-08 19:48] jenshaase commented on #26
Hi, I just created a gitter room: https://gitter.im/phel-lang/community

[2020-06-08 19:49] jenshaase opened #27 "Link the newly created gitter room in the documentation"
* Link on Website
* Link in Readme

Link is: https://gitter.im/phel-lang/community

[2020-06-08 20:00] jenshaase commented on #10
Little update on this.

I resolve the following bug.

[2020-06-08 20:08] jenshaase commented on #27
Fixed

[2020-06-08 20:08] #27 closed

[2020-06-10 16:47] jenshaase opened #31 "Make alternatives for __DIR__ and __FILE__"
Since Phel is compiled to PHP files that are saved at other locations as the original file, a replacement for PHP Magic Constants __DIR__ and __FILE__ is required.

[2020-06-11 13:19] mabasic opened #34 ":use in namespace does nothing"
This code runs correctly:

[code]

This code also runs correctly:

[code]

What is the purpose of `(:use \Laravel\Lumen\Application)` if the file runs either way?

I was expected to get an exception or error if the php class was not included with `:use` in the file.

**Update**: Does `(:use \Laravel\Lumen\Application)` mean that I can reference that class by just using `Application`. If so, how ca

[2020-06-11 13:40] jenshaase commented on #34
Correct. You can just use `Application` now. You can also define an alias:

[code]

Instead of `:use` you need to use `:require`.

[code]

Alias is also supported

[code]

The documentation definitely needs some update on this topic!

[2020-06-11 13:41] mabasic commented on #34
Thank you for explaining. On it :)

[2020-06-11 13:41] #34 closed

[2020-06-11 13:46] jenshaase opened #35 "Improve documentation for namespaces"
Explain `:use` and `:require` in more detail:

* What are the difference
* How to set aliases
* How to use aliases

[2020-06-11 13:47] mabasic commented on #35
Can I give this a go?

[2020-06-11 14:14] jenshaase commented on #35
Go ahead. Please add it to the Namespaces chapter!

[2020-06-11 15:41] jenshaase commented on #25
@Chemaclass Can I close this issue?

[2020-06-11 16:31] #25 closed

[2020-06-12 14:18] mabasic commented on #35
Question: How do you use Phel modules that you import?

eg.

[code]

[2020-06-12 14:26] jenshaase commented on #35
This way:

[code]

[2020-06-12 15:03] mabasic commented on #35
Can't get it to work.

`src/util.phel`:

[code]

`src/boot.phel`:

[code]

[2020-06-12 15:25] jenshaase commented on #35
Found a bug and fixed it in the last commit.

[2020-06-12 16:07] mabasic commented on #35
`@{:private true}` does nothing when defined with defn or def.

eg.

[code]

I can still access those functions/values when using :require in another .phel file. What is the purpose of :private true?

[2020-06-12 17:15] mabasic opened #40 "Implement private functions and values"
- [ ] `def- ...`
- [ ] `defn- ...`
- [ ] `def name @{:private true} ...`
- [ ] `defn name @{:private true} ...`

When functions or values are private they should not be accessible when imported to another file.

[2020-06-12 17:23] mabasic opened #41 "Make shortcut/alias for PHP superglobals"
See here: https://www.php.net/manual/en/language.variables.superglobals.php

Maybe `$_REQUEST` could be a function called `(request ...)`.

Just (request ...) is probably bad :) ?

They should resolve to `(get php/$_REQUEST "my-param")` or similar.

[2020-06-12 18:31] jenshaase commented on #40
I fixed this issue.

[2020-06-12 18:31] #40 closed

[2020-06-12 18:34] mabasic commented on #40
You sure are fast! Will test and report issues if any.

[2020-06-12 19:07] jenshaase commented on #31
Fixed this issue. See documentation for more information: https://phel-lang.org/documentation/php-interop/

[2020-06-12 19:07] #31 closed

[2020-06-13 13:05] mabasic opened #45 "Run phel script from the command line"
I don't know if this is possible atm, but it would be nice to be able to execute phel scripts from the command line.

eg.

[code]

Is this possible?

I could give this a try to implement if you want?

[2020-06-13 13:10] Chemaclass commented on #45
I was wondering the exact same thing 🤔
I think that would be awesome.

[2020-06-13 13:59] jenshaase commented on #45
There is a another missing feature. Currently you have to configure the `Runtime` by calling `addPath`. This needs to be done for every namespaces. If you want to use multiple Phel libraries with different namespaces you have to do that manually right now.

There needs to be a feature like `composer dump-autoload` that does that automatically. Therefore, every package needs to have some configurat

[2020-06-13 14:31] mabasic commented on #35
@jenshaase Is it possible to import a module that is in a different namespace without first loading that namespace in index.php?

eg.

[code]

[2020-06-13 14:43] mabasic commented on #45
I think that this also relates to my question here: https://github.com/jenshaase/phel-lang/issues/35#issuecomment-643631421

[2020-06-13 14:45] jenshaase commented on #35
Correct. That's need to be added.

[2020-06-13 14:52] mabasic commented on #45
Since we are already using `composer.json` it would be nice not to create a separate file `phel.json` for this. What do you think? How much work is needed for this?

[2020-06-13 14:59] mabasic commented on #31
This works, I have updated my lumen demo app. You can see it here: https://github.com/mabasic/phel-lumen-demo/blob/master/src/boot.phel

[2020-06-14 11:08] jenshaase commented on #41
Fixed this issue by adding a `phel\http` module that creates a request struct. See documentation: https://phel-lang.org/documentation/http-request/

[2020-06-14 11:09] #41 closed

[2020-06-14 11:12] mabasic commented on #41
Very nice. Going to try it out.

[2020-06-14 12:15] mabasic commented on #41
@jenshaase The usage part is not very clear to me.

I am trying to get the method from the request:

[code]

Is this the correct way to use this?

First I have to call `(http/request-from-globals)`, then I need to use `(get ... :field)` ?

[2020-06-14 12:25] jenshaase commented on #41
Yes exactly. In general, there are multiple way to do it

[code]

[code]

[code]

[2020-06-14 12:30] mabasic commented on #41
I see. Thank you.

[2020-06-14 16:49] JesusValera opened #49 "Improve 'Comparison operation' documentation"
From my point of view, the [`Comparison operation`](https://phel-lang.org/documentation/truth-and-boolean-operations/) section is not clear enough.

[code]

Investigate if something like that is more understandable.
[code]

[2020-06-14 18:21] Chemaclass commented on #49
I like the idea of unifying `ascending` and `descending `. But, why `(repeat values are not allowed)`?

[2020-06-14 18:27] JesusValera commented on #49
You are right, probably someone can think repeated values are forbidden.
Maybe fits better: `(repeat values will return false)`

What do you think?

[2020-06-14 18:36] Chemaclass commented on #49
I don't understand what's the problem with "repeated values" and why they need to be "remarked" as special ones.
[code]
The repeated values depend on their context in the same way as other numbers by using a specific operator. I don't think we need to "mark" them as especial numbers. Or am I missing something?

[2020-06-14 18:49] JesusValera commented on #49
The idea is to remark that `<` and `<=` are not equals.
[code]
If we removed the `repeated values`, the sentence would be:
`Check if all given values are in ascending order`
That's why I put the `repeated` sentence.

Do you think is more clear as it is currently? :arrow_down:
[code]

[2020-06-15 05:28] Chemaclass commented on #49
What about this?
[code]

[2020-06-15 09:40] jenshaase commented on #49
Why not this:
[code]

I this this is much cleaner.

[2020-06-15 10:02] JesusValera commented on #49
Hmm, I would pick @Chemaclass suggestion, This is cleaner for me.
What do you think @mabasic?

[2020-06-15 10:54] mabasic commented on #49
Considering that both suggestions are perfectly valid and the reader would understand both it does not matter which one is picked.

After reading both for the first time, I must admit that I find the one @jenshaase wrote last to be simpler to me personally. Ascending and descending always confuses me at first 😁.

[2020-06-15 20:18] jenshaase commented on #49
@JesusValera This can be closed now. Correct?

[2020-06-15 20:18] #49 closed

[2020-06-15 20:56] jenshaase opened #52 "Proposal: Autogenerated Runtime"
This issue is a proposal for a autogenerated `Runtime` class that make its much easier to get started with Phel.

# Motivation

Currently the `Runtime` needs to be configured manually. All paths of all libraries need to be added to the configuration. This can be a frustrating job when the amount of library increases or the libraries change their paths.

# Concept

To resolve this problem, a `Runti

[2020-06-16 06:25] mabasic commented on #52
I like everything about this proposal, except the part where it is needed to set package type to `composer-plugin`.

I don't know the exact drawbacks of it, but this (main phel repository) is most definitely not a composer plugin, but a library of sort.

Would it be possible to create a new repository (let's call it for example `phel-composer-plugin`), set its type to `composer-plugin`, add the de

[2020-06-16 06:44] Chemaclass commented on #52
I know that composer is (and might still be) the trend nowadays, but what if it doesn't in the future?
See for example this other project PHIVE https://phar.io/

I would prefer to decouple from the composer creating our own `phel.json` configuration.
For the autoload part we might consider using another tool: https://github.com/theseer/Autoload This is `a lightweight php namespace aware autoload g

[2020-06-16 08:48] jenshaase commented on #52
Is PHIVE a dependency manager? For me it is just a tool to replace the "require-dev" section of composer.

https://github.com/theseer/Autoload Is just for autoloading PHP classes.I was speaking of loading Phel modules.

I prefer the Composer only way for now, because it makes getting started with Phel so much easier and it is not a lot of work to do. Building a solution that works with multiple de

[2020-06-16 08:52] Chemaclass commented on #52
Yes, PHIVE is a dependency manager where you track the complete version of the tools that your app depends on. Try it out :)
On the other hand, I agree with you @jenshaase, we should focus on an MVP that works and later on keeping improving within small iterations.

[2020-06-16 13:35] #35 closed

[2020-06-16 15:01] jenshaase commented on #52
Thanks for your feedback.

I think we can go this way:
* Make a new git repository: `phel-composer-plugin`
* This repository contains only the code of the composer plugin
* The plugin is then used as a dependency in Phel
* I will read the configuration from the "composer.json" "extra" section.

[2020-06-16 15:04] mabasic commented on #52
I can help write documentation for this once implemented, and test it out.

[2020-06-16 19:31] jenshaase commented on #52
Implementation is more or less done: https://github.com/jenshaase/phel-composer-plugin

I also added it as dependency to Phel and tested it with a sample project. Make sure you add `"minimum-stability": "dev"` to your tests-project's composer file. Otherwise you will get an error.

If you don't find any bugs, we can update the documentation.

[2020-06-16 19:39] mabasic commented on #52
Wow that is fast. Can't wait to test it out.

[2020-06-17 06:16] mabasic commented on #52
@jenshaase Tested it. Works perfectly!

It is much simpler now to use multiple namespaces in a single package. Using other packages is also seamless. Can we proceed now with the cli part #45 ?

[2020-06-17 17:22] jenshaase commented on #45
This is now working.

[code]

[2020-06-17 17:22] #45 closed

[2020-06-17 17:37] mabasic commented on #45
Super cool. Can't wait to test it.

[2020-06-17 18:13] Chemaclass opened #56 "Proposal: Renaming Phel class"
## Context

Let's consider this code:

[code]

When I read this code I think:
<<<
* The namespace `Phel` it makes sense because it might be considered the root of the project named `Phel`.
* The class name `Analyzer` is also straight forward.
* The methods `analyzeInEmptyEnv()` and `analyze()` are also easy to understand

But wait for a second, what type is `$x` again? `/** @param Phel|scalar|null

[2020-06-17 20:56] jenshaase commented on #56
Hi,

its a good idea to rename `Phel`. I would suggest either `Type` or `AbstractType`.

Just for explanation why some of the types are `Phel|null|scalar`. The union of these are all types that are supported by the Phel language.

* Phel's boolean is a PHP boolean (scalar)
* Phel's string is a PHP string (scalar)
* Phel's int and floats are equal to PHP's int and float (scalar)
* Phel's nil is rep

[2020-06-18 04:10] Chemaclass commented on #56
Great explanation! I get it. I like the idea of `AbstractType` much more than just `Phel`, but what about `PhelType`?

Anyway, either `AbstractType` or `PhelType` are both good names in my opinion. @jenshaase, you pick one and I will create a PR with the renaming :)

---

About the `PhelString`, `PhelInt`, `PhelFloat` and `PhelBoolean`... yeah, it's a good topic, but I don't have right now a prope

[2020-06-18 06:23] mabasic commented on #45
@jenshaase Running `vendor/bin/phel run my-namespace\module` does not work, but running `vendor/bin/phel run "my-namespace\module"` does work.

Running `vendor/bin/phel run path/to/file.phel` works.

[2020-06-18 06:25] mabasic opened #57 "Docs: Documentation for the "phel" configuration section needs to be written"
We need to document this: https://github.com/jenshaase/phel-lang/issues/52

[code]

Link to composer plugin: https://github.com/jenshaase/phel-composer-plugin

[2020-06-18 06:25] mabasic opened #58 "Docs: The Getting Started Guide must be changed"
We need to document this: https://github.com/jenshaase/phel-lang/issues/52

Update:
- new index.php
- composer phel configuration
- mention running from command line

[2020-06-18 06:26] mabasic opened #59 "Docs: Documentation for Library-Developers would be great"
We need to document this: #52

It should cover:
- private/public functions/values
- namespaces
- composer phel configuration
- testing

[2020-06-18 06:35] mabasic opened #60 "RuntimeException: Cannot load namespace: hello-worldboot"
Running `vendor/bin/phel run hello-world\boot` does not work, but running `vendor/bin/phel run "hello-world\boot"` does work.

This is the output that I get when running `vendor/bin/phel run hello-world\boot`:

[code]

**Update**: When I use double backslash then it works: `vendor/bin/phel run hello-world\\boot`.

[2020-06-18 06:41] mabasic opened #61 "Docs: Write documentation for Phel run command"
We need to document this: https://github.com/jenshaase/phel-lang/issues/45

[code]

More info on the run command here: https://github.com/jenshaase/phel-lang/issues/60#issuecomment-645814670

[2020-06-18 06:45] jenshaase commented on #60
Yes you need to wrap it in quotes or use the double backslash. I forgot to mention this in #45. The backslash is an escaping character in bash/shell.

I will close this issue as there is no way to make `vendor/bin/phel run hello-world\boot` work.

[2020-06-18 06:45] #60 closed

[2020-06-18 06:49] mabasic commented on #60
Is there a way to suppress the output when running `vendor/bin/phel run hello-world\boot` to just output "RuntimeException: Cannot load namespace: hello-worldboot" without the extra parts about the source code?

[2020-06-18 11:55] paullaffitte opened #63 "Bug: Comparaison with 1"
# Observation

Comparing anything truthy with `1` will produce `true` as a result, but if compared with any other number it will produce `false`.

## Examples

All those lines will output `true`
[code]

But those will output `false`
[code]

The last one is the most surprising since `1 == :a` and `1 == @["foo"]`, so we could expect that `:a = @["foo"]`

# Expected behavior

We could expect that if

[2020-06-18 12:25] paullaffitte opened #64 "Docs: Wrong definition of a function"
# Observation

In the section of the doc about [Functions and Recursion](https://phel-lang.org/documentation/functions-and-recursion/), and more precisely about Anonymous Function, you can find this example:

[code]

But this code results in this error: "'fn requires one or two arguments".

# Expected behavior

I'm not sure about what is the expected behavior, I'm just sure that the doc is wrong a

[2020-06-18 13:20] paullaffitte opened #66 "Bug: Require a module"
# Observations

It seems that sometimes, modules aren't correctly resolved.

First, if I require a module that doesn't exists, the program will just ignore it without any warning neither error. Second, as you can see in #65, I cannot require the module `phel\test\http` from `phel\test\index`. But if I remove the require statement to `phel\http` in `phel\test\http`, it works again. I've tried to us

[2020-06-18 14:07] Chemaclass commented on #63
I think this is something related to PHP behavior: https://phel-lang.org/documentation/truth-and-boolean-operations/
* In Phel `=` is in PHP `==`
* In Phel `id` is in PHP `===`

[2020-06-18 17:33] jenshaase commented on #63
@Chemaclass is correct. This is a PHP specific behavior. Whats happening here is call "Type Juggling" (https://www.php.net/manual/de/language.types.type-juggling.php). This converts the types automatically to the "correct" value. The comparison operator in PHP is defined the following way:

[code]

But this a behavior that we can change in Phel to make it better. I would propose that only `nil` an

[2020-06-18 17:36] jenshaase commented on #56
Let's rename to `AbstractType`

[2020-06-18 18:12] jenshaase commented on #52
I will close this issue now, because @mabasic make individual issues for the rest of the work.

[2020-06-18 18:12] #52 closed

[2020-06-18 18:38] jenshaase commented on #66
I have to investigate this issue. Seems to be a bigger problem.

[2020-06-18 19:30] jenshaase opened #68 "Def inside of Def should not work"
Def inside a Def should not be allowed. For example

[code]
should throw an Analyzer Exception.

[2020-06-18 19:35] Chemaclass commented on #63
I like this idea. It's actually how [Clojure](https://clojuredocs.org/clojure.core/boolean) currently behaves:
* returns `false` for `false` and `nil`.
* returns `true` for everything else.

[2020-06-18 20:23] jenshaase commented on #64
Thanks for reporting this!

Instead of fixing the documentation, I fixed `fn`. `fn` supports now multiple elements and only the last one is returned. Same applies for `defn`.

[2020-06-18 20:23] #64 closed

[2020-06-18 20:24] jenshaase commented on #66
Fixed this issue.

[2020-06-18 20:24] #66 closed

[2020-06-19 05:35] paullaffitte commented on #63
I like the idea too, nevertheless, I found confusing the fact that 0 would evaluate to true. Does it means that `(print (if 0 "true" "false"))` would output "true"? However, for the empty string/array/table, I can understand this point of view.

[2020-06-19 06:13] paullaffitte opened #71 "Use traits to factorize Phel classes implementations"
As discussed here https://github.com/jenshaase/phel-lang/pull/62#discussion_r442647840, we could factorize the implementation of Phel classes by using traits, since inheritance seems to not be the right way to do it. There is some function reused over the code like `hash`, `count`, `current`, `next`, `key`, `valid`, `rewind` or `offsetHash` that share the same implementation over `PhelArray`, `Tab

[2020-06-19 06:16] mabasic commented on #59
@jenshaase I would like to work on this issue too. Once you have implemented a testing library I can work on this?

[2020-06-20 10:51] #56 closed

[2020-06-20 14:26] jenshaase commented on #63
Fixed this issue. It was quite helpful to redefine this. As side-effect I found some bugs in the library :)

[2020-06-20 14:26] #63 closed

[2020-06-21 18:01] #57 closed

[2020-06-21 18:01] #58 closed

[2020-06-21 18:01] #61 closed

[2020-06-23 17:26] #71 closed

[2020-06-23 17:29] jenshaase commented on #5
Closed with PR #62

[2020-06-23 17:29] #5 closed

[2020-06-23 17:30] jenshaase opened #77 "Docs: Set Datastructure"
The set data structure should be added to https://phel-lang.org/documentation/array-table-and-struct/

[2020-06-23 18:22] jenshaase opened #78 "Proposal: Test framework"
# Motivation

Phel should provide a default testing framework to test Phel code.

# Concept

The code for the Phel's testing library is bundled in the namespace `phel.test`.

## Assertions

The core of the library is the `is` macro to define assertions. For example

[code]

The `is` macro supports following forms:

* `(predicate expected actual)` like `(= 4 (+ 2 2))`
* `(predicate value)` like `(t

[2020-06-23 19:47] mabasic commented on #78
Looks very useful and simple, but I have some questions/suggestions.

Since (deftest) is the same as (defn) which is the same as (def) why can't we add (deftest) macro in the core and thus avoid adding :refer to the (ns)?

As an alternative, why not just use (defn) and tell people to add metadata @{:test true} for writing tests?

Could we add a command for `vendor/bin/phel test namespace/file/test

[2020-06-23 21:16] jenshaase commented on #78
I see the `:refer` not only useful for this case. It can also be quite useful for library developers to extend Phel with some nice APIs. For example an if anyone whats to define a routing library, he can define a `defroute` macro like this:

[code]

Sure!

[2020-06-23 21:19] mabasic commented on #78
I see. Makes sense now. Thank you for explaining the use case a little bit more.

[2020-06-24 03:02] paullaffitte commented on #78
I think it would be pretty useful to print the expected value on test failure. It would help developers to understand what is going on without having to manually print the test's parameters. Quasi-quotation could help here.

Here is an example of what I'm thinking about:
[code]

And the output of this would be `e Test case, Expected: (= 1 2)`.

[2020-06-24 03:12] paullaffitte commented on #77
I can work on it. Since I implemented this data structure, I would like to do it to the end.

[2020-06-24 07:25] paullaffitte opened #79 "Bug: Reduce cannot be used on a set whereas map can"
## Description

Using `reduce` or `reduce2` on a set will output the following error: `Cannot use object of type Phel\Lang\Set as array`. But using map on a set is perfectly fine and work as expected. This is because the function `first` is used in the implementation of reduce
, which is used in the implementation of `reduce2`.

For reduce2 there is another catch, a set cannot be destructured beca

[2020-06-24 07:25] paullaffitte opened #80 "Bug: Reduce ignore the whole sequence if the first element is nil"
## Description

If the first element in the sequence passed to reduce is nil, it returns the initial value. Therefor, subsequent values are ignored.

- `(reduce + 42 [nil 1 2])` outputs 42
- `(+ 42 nil 1 2)` outputs 45

## Expected behavior

`(reduce + 42 [nil 1 2])` should output 45 since it should behave the same as `(+ 42 nil 1 2)`.

[2020-06-24 16:47] #80 closed

[2020-06-24 17:03] jenshaase commented on #78
@paullaffitte Thanks for your input. I will add more details in the report section, on how failure and error message should look like (with examples).

Regarding `run-tests`. This function is the base for running all tests. It's a good idea to add auto-discovery. That can be build on top of run-tests. I thinks this can be done with the `vendor/bin/phel test` command. If no namespace is provided al

[2020-06-24 18:27] jenshaase commented on #79
Good catch. I will investigate this issue.

[2020-06-24 21:28] Chemaclass opened #83 "Bug: Core tests are warning about something wrong"
## Bug

These tests (in `tests/core.phel`) are displaying an **NOTICE error:**

[code]
Output:
[code]

## How can I reproduce it?

You can verify it by commenting these lines out (by adding `#` at the very beginning of the line) and running the tests again (using `composer test-core`); that NOTICE will be gone.

I think it might not be related to the sets but with the push... This needs some inves

[2020-06-25 02:36] paullaffitte commented on #79
And btw, `next` seems to be only callable on arrays (and ICdr) too 😅

[2020-06-25 15:44] jenshaase commented on #79
I fixed this issue. Every data structure now implements `ISeq`, which has the methods `first`, `rest` and `cdr`.

[2020-06-25 15:44] #79 closed

[2020-06-25 15:47] jenshaase commented on #83
I fixed this the test. The `push` function takes a reference argument. In PHP it would look like this:

[code]

Therefore PHP prints this notice. I need to do this to support PHP array in this call. Otherwise, PHP arrays will be copied to the method.

[2020-06-25 15:47] #83 closed

[2020-06-25 16:18] jenshaase commented on #78
I updated the Report section. What do you think?

[2020-06-25 20:03] Chemaclass commented on #83
Cool, thanks!

[2020-06-27 10:50] jenshaase commented on #78
Current Status:

- I implemented the framework as described above
- I updated the old tests to the new test framework
- I added the test framework documentation on the website

What is left:

- Autodiscovery of all tests
- `./vendor/bin/phel test` command

[2020-06-28 12:04] Chemaclass opened #88 "Add syntax support for PhpStorm"
### Current behavior

We have currently syntax support for `vscode` (as a plugging inside `editor-support/vscode`).

### Definition of Done

Create something similar for PhpStorm.

#### Some help

* https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started.html
* https://github.com/JetBrains/intellij-platform-plugin-template
* https://confluence.jetbrains.com/display/PhpStorm/Plugin+Devel

[2020-06-28 12:54] jenshaase commented on #88
Has anyone experience on this topic? I'm probably not able to maintain such a plugin within this project. Maybe this can be separate project?

[2020-06-29 08:39] Chemaclass commented on #88
I don't have experience with that, but I use PhpStorm and I would like to try to do this one! Assign it to me and I will try to get some time for this :)

[2020-06-29 13:39] jenshaase commented on #88
Ok. If it helps, I already built two types of syntax definitions. The first one is in the TextMate Format and the second one is in the Sublime Format:

* https://github.com/jenshaase/phel-lang/blob/master/editor-support/vscode/syntaxes/phel.tmLanguage.json
* https://github.com/jenshaase/phel-lang/blob/master/doc/syntaxes/phel.sublime-syntax

[2020-06-30 19:20] jenshaase commented on #78
This is now completed! All test of the core library can now be executed by `./vendor/bin/phel test`

[2020-06-30 19:20] #78 closed

[2020-06-30 19:25] mabasic commented on #78
Great work! Really loving how the language is turning out. Sorry I can't contribute more to the code. I have my hands full atm... but testing and experimenting is what I love to do in the morning, so I will give it a go and report back.

[2020-07-02 07:26] mabasic opened #90 "Namespace conflict when running tests"
- [x] Possible documentation mistake in testing and configuration?

Given this config in `composer.json`:

[code]

And these files:

src/boot.phel:

[code]

tests/boot.phel

[code]

When running `vendor/bin/phel test`, I get:

[code]

but when I rename the test file to `test.phel` (and update the namespace to match) or anything other than what a file is called in `src` directory it works.

[code]

[2020-07-08 20:43] #77 closed

[2020-07-10 19:10] jenshaase commented on #90
What would you want to happen in this case? Should there be a error? I think the same happens in PHP if you use the PSR-4 Autoloader. If you have two files with the same namespace in different location only the first one found is loaded.

[2020-07-10 19:35] mabasic commented on #90
I think that by changing the documentatiom we have avoided this issue.

Best to leave it alone for now because it is easy to catch the mistake. Maybe investigate a bit how it works in PHP.

[2020-07-11 09:29] Chemaclass commented on #90
I'm with you @mabasic. This PR https://github.com/jenshaase/phel-lang/pull/92 was a great idea :)

[2020-07-11 09:39] #90 closed

[2020-07-13 08:38] jenshaase commented on #68
@Chemaclass will work on this.

[2020-07-16 09:04] Chemaclass commented on #68
I'm working on it, yes :)

[2020-07-19 12:15] jenshaase commented on #68
Fixed with PR #97

[2020-07-19 12:15] #68 closed

[2020-08-07 16:36] mabasic commented on #59
Totally forgot about this... Going to give it a try

[2020-08-07 18:25] jenshaase commented on #59
No problem. Take your time.

[2020-08-21 11:19] tami5 opened #105 "Undefined index: args"
Hay, exicited to explore this language. I've followed the instruction on setup page and got error  Undefined index: args` it just won't work

then I tried the repl with  `(defun create-a-string [string] (print (concat 'Printing: ' string)))`
[code]

[2020-08-24 11:12] tami5 commented on #105
Wow Thats really interesting. Thanks a lot

[2020-08-24 11:12] #105 closed

[2020-09-17 11:20] bentxt opened #115 "Cannot install Phel on macos"
Hi,
I follow, the tutorial until the point where Phel should be installed by composer

Specs
[code]

Error
[code]

[2020-09-17 11:49] jenshaase commented on #115
Hi,

I think you need to put `"minimum-stability": "dev"` inside your composer.json. This is also described in the Getting Started guide but I think it is a little bit to far down. I will fix this.

Cheers,
Jens

[2020-09-17 15:18] bentxt commented on #115
That solved the issue, thanks

[2020-09-17 15:18] #115 closed

[2020-09-17 15:22] bentxt opened #116 "Cannot run simple hello-world"
Hi,
Still working with the tutorial and getting a new problem. All the run commands fail

[code]

[code]

Here my composer.json

cat composer.json
[code]

[2020-09-17 15:59] jenshaase commented on #116
I think you need to run `composer dump-autoload` first. Then it should be working.

[2020-09-17 16:07] jenshaase commented on #116
Thanks for pointing this out. I updated the documentation on the website!

[2020-09-25 07:16] jenshaase commented on #116
Hi,

is this issue solved? Can I help you with anything else?

Best regards,
Jens

[2020-09-25 07:18] jenshaase commented on #105
Hi @tami5,

would you like to give me some Feedback regarding Phel? What did you like, what didn't you like?

Best regards,
Jens

[2020-09-25 16:40] tami5 commented on #105
Hay, thanks so much for for this awesome pace of software. Unfortunately, I no longer intend to continue developing with php ecosystem , however, will definitely use phel for future projects that requires php. Thanks 🙏

[2020-10-01 13:31] jenshaase commented on #88
@Chemaclass Are you still planning to work on this. Otherwise I will close this issue

[2020-10-01 13:32] jenshaase commented on #116
I will close this now. If you still have questions, open this issue again or start a new issue.

[2020-10-01 13:32] #116 closed

[2020-10-01 14:02] Chemaclass commented on #88
Hey Jens, no, not really right now. I tried it, but it's more complex than I thought. I would prefer to focus on other more important tasks. We can close it 👍🏼

[2020-10-01 14:02] #88 closed

[2020-10-05 21:17] JesusValera opened #119 "Proposition: Remplace "scalar" keyword by the scalar types on PhpDocs"
### TL;DR: I proposed to replace all `scalar` keywords to `string|float|int|bool`. ⚠️

# 🔗 Description

As the PHP [documentation](https://www.php.net/manual/en/language.types.intro.php) says, there are four _scalar_ types in PHP:
* boolean
* integer
* float
* string

Also, there is a [`is_scalar()`](https://www.php.net/manual/en/function.is-scalar.php) method, but the `scalar` type doesn't exist

[2020-10-06 12:41] jenshaase commented on #119
Yes we can do this. Just create a pull request and I can merge it!

[2020-10-26 08:14] jenshaase commented on #119
Fixed with PR #120

[2020-10-26 08:14] #119 closed

[2020-10-26 08:15] #10 closed

[2020-12-04 05:46] Chemaclass opened #128 "Create NodeEnvironmentInterface"
Do some research and look if it makes sense to create a `NodeEnvironmentInterface`. I think it does, but we should double-check that.

In case we want to add that interface: look for every place where it depends on the `NodeEnvironment` and invert it by depending on a `NodeEnvironmentInterface` instead.

Acceptance Criteria:

- The place to create that interface might be for now the same where the

[2020-12-04 06:30] Chemaclass opened #129 "Refactoring Printer"
The current `Phel\Printer` class is a "God Class" with too many responsibilities. Actually 19, one per each conditional inside the `print()` function. See:
[code]

### Suggestion 1: Using extract class refactoring

- Create a new Module named `Printer` and there allocate each private function in a class. This way it will be easily testable.
- A similar strategy as we already did for the `Analyzer`

[2020-12-06 09:30] jenshaase commented on #128
Makes sense to create a `NodeEnvironmentInterface`

[2020-12-06 09:35] jenshaase commented on #129
Suggestion 1 is the better solution! The Printer must be able to print any PHP Type. This can also be classes of other library.

[2020-12-06 10:56] Chemaclass opened #130 "Add the "phpdoc_line_span" to the CS Fixer"
## Description

According to what we agreed on https://github.com/jenshaase/phel-lang/pull/124
We decided to add this extra CS Fixer Rule: https://mlocati.github.io/php-cs-fixer-configurator/#version:2.16|fixer:phpdoc_line_span.

## Acceptance Criteria

- Add the new CS Fixer Rule
- Apply the fix to the whole project

[2020-12-06 10:57] JesusValera commented on #130
I will do it!

[2020-12-06 13:11] #130 closed

[2020-12-06 15:27] jenshaase commented on #128
Closed with PR #132

[2020-12-06 15:27] #128 closed

[2020-12-23 16:22] JesusValera commented on #129
Implemented here https://github.com/jenshaase/phel-lang/pull/134 :D

[2020-12-25 21:59] #129 closed

[2020-12-26 10:12] mabasic opened #137 "Could we adapt this code style?"
[Hy Style Guide](https://docs.hylang.org/en/master/style-guide.html)

I have formatted code in this [PR](https://github.com/jenshaase/phel-lang/pull/136/files#diff-c9c26e3060e05a86c32176fd950e1cd97959abd0ba88bd4fd0361ed085aa3e7f) according to this style guide and it looks good and logical to me.

What do you think? Could we add this to the documentation and then in the future build a code formatte

[2020-12-26 10:21] mabasic commented on #59
I am thinking of creating a library for json encoding and decoding as we talked on gitter and publishing it on packagist. It should be pretty simple to write documentation for library developers using this as an example.

If this does end up in the core phel, I could archive the repository so that it will serve as an example.

[2020-12-26 13:06] Chemaclass commented on #6
Does this still need to be done? or is not relevant any longer, @jenshaase?

[2020-12-26 16:57] jenshaase commented on #137
You can use it as reference but I will currently not define a concrete coding style. A concrete coding style only makes sense if we have a tool to check against it.

[2020-12-26 17:06] mabasic commented on #137
I will do some research on the subject of building a code formatting tool.

Do you know of any lisp language that has a code formatter?

[2020-12-26 17:10] jenshaase commented on #137
Yes there is https://github.com/weavejester/cljfmt but it requires some additional libraries to parse and annotate the code. It is definitely not an easy task. If I find some time in the next days I can create a concept for it.

[2020-12-26 17:13] jenshaase commented on #6
It is not a required feature and probably not that easy as I thought. I will evaluate it in the next days and if it is to complicate I will close the ticket.

[2020-12-27 16:56] mabasic opened #140 "Using Phel library/code in PHP"
Recently, I have been reading about Hy lang and one of the things that intrigued me very much is the ability to run Hy code from Python and opposite.

Currently, Phel can run PHP code, but not the other way around.

What is preventing Phel from being callable from PHP?

Disclaimer. I don't know how a programming language is built but I imagine that a Phel library/namespace/source file can be conve

[2020-12-27 19:27] jenshaase commented on #140
Hi,

in general this is possible. Phel Code is compiled to valid PHP Code. If you compile a Phel file to a PHP file you can imported it using `require_once` for example. However, there are some drawbacks.

If you compile the following Phel File to PHP:
[code]
it will look something like this:
[code]

So in order to call the `bar` function in PHP land you have to do `$GLOBALS["__phel"]["test"]["bar

[2020-12-27 19:27] #140 closed

[2020-12-27 19:43] mabasic commented on #140
@jenshaase Thank you for explaining.

I got a few ideas from your answer to research.

[2020-12-27 20:16] jenshaase commented on #137
To write a formatter you first need to build a so called bidirectional parser. This parser is able to parser Phel code. The result of the parser is parse tree. However, the parse tree not only contains information to compile to the target language but also all whitespaces and comments in the file. Thereby, it is possible to print the source code in the same way it was read from the file. An exampl

[2020-12-27 22:41] mabasic commented on #140
I've seen in Laravel that they use single action controllers which are basically classes with a single `__invoke` method.

If we could get from this:

[code]

to this:

[code]

Then we could call Phel functions like so from PHP:

[code]

@jenshaase What do you think?

I'm still thinking how to solve namespaced variables. Maybe an agreed upon generic class name to hold all public Phel variables.

[2020-12-27 22:48] jenshaase commented on #140
I though about that too. However, it caused other problem I didn't remember yet.

I also don't like the solutions using `$GLOBALS`. But it was the the only way I found to solve all my problems.

[2020-12-28 17:13] Chemaclass opened #142 "Relocate the Destructure class"
## Context

The Destructure class is the last class remaining on the root project next to the Main/PhelFacade; which it shouldn't.

The context of the Destructure class is next to its usage, next to the `Phel\Compiler\Analyzer\TupleSymbol`.
`LetSymbol` and `LoopSymbol` are the only ones who use this Destructure class.

## Acceptance Criteria

- Move away from the root project folder the Destructur

[2020-12-29 17:31] jenshaase commented on #137
Hi @mabasic,

I found some time to build such a bidirectional Parser. Have a look at this class:
https://github.com/jenshaase/phel-lang/blob/master/src/php/Compiler/Parser.php

Please also have a look a the tests to see how it works.

[2020-12-29 17:34] mabasic commented on #137
@jenshaase O.o will take a look tonight.

[2020-12-31 16:04] JesusValera opened #145 "Standarize Interfaces through the project"
I notice the interfaces from `Phel\Lang` use the Hungarian nomenclature, which means, instead of `MetaInterface`, they are called `IMeta`.

I would suggest renaming all of them from `I{Class}` to `{Class}Interface`.

<img width="289" alt="Screenshot 2020-12-31 at 17 05 29" src="https://user-images.githubusercontent.com/6381924/103417290-6828b380-4b8a-11eb-8d47-24d347c5447a.png">

The purpose of th

[2020-12-31 16:30] jenshaase commented on #145
Is there as PHP-CS-Fixer rule that can we use?

[2020-12-31 17:10] Chemaclass commented on #145
About using PHP CS Fixer for this rule, this is what the cs fixer author said in 2016:

I like the idea pretty much. I would use the `Interface` suffix for all interfaces in order to normalize them in the project.
I think an ADR with this info would be good for the project as well, because this is a pure naming convention.
My vote is 👍🏼

[2020-12-31 20:28] jenshaase commented on #145
Ok, I would recommend to define a naming conversion for every class, function, trait, etc. then:

* Use camelCase for PHP variables, function and method names, arguments
* Use UpperCamelCase for class names
* Suffix interfaces with `Interface`
* Suffix traits with `Trait`
* Suffix exceptions with `Exception`
* Prefix abstract classes with `Abstract`

[2020-12-31 20:30] #142 closed

[2020-12-31 21:08] Chemaclass commented on #145
Yes, this is actually the actual Symfony naming convention. I am super ok with this :) https://symfony.com/doc/current/contributing/code/standards.html
And yeah, it would be nice to have it our adrs

[2021-01-02 01:05] mabasic commented on #137
@jenshaase I took a look. It took me some time to figure out what it does (The tests helped, thank you).

I assume that if I feed it a phel source file, It will return a tree of things inside that file. Once I obtain that tree, I could write a formatter that will modify that tree according to some rules, and possible find a way to revert back to phel source code and overwrite the file.

Am I right

[2021-01-02 09:44] jenshaase commented on #137
Correct!

[2021-01-03 12:18] jenshaase commented on #145
Closed with PR #147

[2021-01-03 12:18] #145 closed

[2021-01-05 20:42] Chemaclass commented on #6
Maybe would be good to write a bit more details what do you expect from this issue, some context, reason behind and acceptance criteria. With that I might be able to help, or split it in subtasks if necessary. No rush

[2021-01-05 21:36] jenshaase commented on #6
I just checked if it is possible and I found to many examples where it is not possible. To check this in all cases you basically have to build a type checker :)

I would probably be easier to catch the `ArgumentCountError` from PHP and provide a good error message. Currently it says:
`ArgumentCountError: Too few arguments to function class@anonymous::__invoke(), 1 passed in /tmp/__phelcO3k5t on li

[2021-01-05 21:36] #6 closed

[2021-01-05 21:43] jenshaase commented on #137
Just for reference. Here is another Lisp style code formatter in Janet: https://github.com/janet-lang/spork/blob/master/spork/fmt.janet

[2021-01-06 00:53] mabasic commented on #137
Thank you. I was studying Janet these past few days. Will take a look.

[2021-01-08 23:35] Chemaclass opened #158 "Add Phel syntax to Github"
I did some research, and I found that `github/linguist` has the syntax for the languages in Github.

In their contributing file, you can find how to do this:  https://github.com/github/linguist/blob/master/CONTRIBUTING.md

The goal is to investigate and try this out.

[2021-01-09 08:05] jenshaase commented on #158
Spread the world and make a lot of repositories :laughing:

[2021-01-09 22:14] Chemaclass opened #161 "Be able to use $argv from phel"
I am facing the problem that I cannot use the parameters that I want when running `phel run`. For example:
[code]

I think this is because in the `RunCommand::run(string $fileOrPath): void` we just load the namespace from the file or path specified, but we didn't pass the `$argv` variable that is magically created via PHP cli.

I am not a fan of global variables, but in this case, this is how PHP

[2021-01-10 12:14] Chemaclass commented on #161
Ah! There is a way to get the native PHP `argv` from the globals:
[code]

Now the question is if we want to have a better user-friendly function to get the "argv" easier, and which signature do we want. Actually, I like the idea of having argv as const in the core
[code]

[2021-01-10 14:47] mabasic commented on #59
**Update**: I've managed to produce working code for encoding Phel data structures (for now just array, table) to JSON and it works.

My next step is to put the code (library) on GitHub and write/use tests to cover all data structures before publishing it on packagist. I would be honored if you all could review the code before I publish it and provide me with hints/tips/suggestions so that I can i

[2021-01-10 16:30] #161 closed

[2021-01-10 20:35] jenshaase commented on #137
I investigated some time on the weekend on this topic. I have a concept and little bit of code on how to build a formatter. Hopefully it turns out good. I will keep you updated if I have a first working version.

[2021-01-10 20:59] mabasic commented on #59
I have created a repo and pushed code to it for the json wrapper library: https://github.com/mabasic/phel-json Please take a look and tell me your thoughts. It is in an early stage and missing a lot of things, but seems promising.

[2021-01-11 00:34] mabasic commented on #137
We could use this bidirectional Parser to generate documentation for Phel libraries? Something like go lang has or deno.

[2021-01-11 06:59] jenshaase commented on #137
No. There are not enough information in the parse tree. But have a look at https://github.com/jenshaase/phel-lang/blob/master/doc/build-api-page.php on how I generate the API Docs for the website.

[2021-01-11 08:27] mabasic opened #165 "Set should not have keys returned"
Examples:

[code]

[code]

I am assuming that those keys should not be displayed?

I was expecting to get keys similar to what array returns:

[code]

[2021-01-13 08:56] jenshaase opened #169 "Splitting the core.phel"
Make it possible to split the core.phel file in multiple file that have the same namespace.

[2021-01-14 07:33] Chemaclass commented on #169
@jenshaase but do we want them to be in the same namespace? 🤔
Think about having N files (each file with its different group of functions). Each one of them will share some common responsibilities. Isn't true that by having different namespaces it won't load the ones that we don't really want in our programs and therefore will it be faster to execute?
Same principle as we currently have for `http`

[2021-01-14 08:51] jenshaase commented on #169
Ok, but then the question is when to split stuff and when not.

For example, do you want to put the `+` operation in a `math` namespace and import it everytime you need it?

[2021-01-14 09:07] Chemaclass commented on #169
This is where the complexity of this task is about. I personally think the basics arithmetic, casting & comparation should be in the `core.phel`, but yeah I don't know now... maybe it's ok to split the "arithmetic's" in their own module as well...
I am trying to figure out how would be the perfect scenario, but I don't have the answer now. First, we need to visualize how do we want to have it as a

[2021-01-14 09:34] JesusValera commented on #169
I consider the basic operations should be in the `core`.
Something similar as any programming language does, you don't need to import a package to `sum` two numbers.
The opposite with, for example, the `pi` number, in this scenario, you would really need to import the `math` then.

[2021-01-14 14:31] jenshaase opened #173 "Update Getting Started Guide for 0.1 release"
The getting started guide needs to be update with the first release.

[2021-01-14 14:33] jenshaase opened #174 "Phel composer plugin needs to be released."
The phel-composer-plugin (https://github.com/jenshaase/phel-composer-plugin) needs to be released before the release of 0.1

[2021-01-14 14:42] jenshaase opened #175 "Move repositories to the phel-lang organization"
Move the repositories form my account (jenshaase) to the phel-lang organization. This can be done by repo settings > transfer owner.

[2021-01-14 14:44] Chemaclass commented on #175
Repo settings > Transfer owner > "phel-lang", or something like this ;)

[2021-01-14 14:45] mabasic commented on #59
I am waiting for #165 to be resolved in order to improve my json wrapper library around which I will write the documentation for library developers.

[2021-01-14 14:51] jenshaase commented on #59
I have #165 on my list. By the way, what is the best way to give you feedback on your lib?

[2021-01-14 14:59] mabasic commented on #59
Issues, gitter, email. Whatever is easier to you.

[2021-01-14 15:00] Chemaclass commented on #59
What about including this `encode-json` inside the official phel repo? This is related with the topic that we talked on gitter https://gitter.im/phel-lang/community?at=6000524003529b296bed1700

I think it would be better for phel if we have a `json.phel` module which have the `encode` and `decode` functions, so everyone can `:require` them and use them out of the box, because they are really speci

[2021-01-14 15:11] mabasic commented on #59
Agreed.

My idea for creating a separate repository, was for it to serve as an example library for library-developers documentation. My intention was to publish it, archive it and then submit a PR to Phel to add the library to the core.

[2021-01-15 18:05] Chemaclass commented on #175
As part of moving the repos to `phel-lang` organization, I would also update the packagist name from the repos to `phel-lang` as well.

- Instead of `phel/phel` -> `phel-lang/phel`
- The same for the plugin -> `phel/phel-composer-plugin` -> `phel-lang/phel-composer-plugin`

I think the easiest way to do this is:
1. change the names from the `composer.json`
3. push the changes to github
4. remove t

[2021-01-15 19:23] JesusValera commented on #175
Agree with @Chemaclass, I think is better `phel-lang` than just `phel` :P

[2021-01-17 12:20] jenshaase commented on #137
There is a first draft of a code formatter now. You can use it with `phel fmt <filename>`.

I will close this ticket now. If there are any problems with the formatter please make new issues.

[2021-01-17 12:20] #137 closed

[2021-01-17 12:47] mabasic commented on #137
Nice, will take a look asap. 👍

[2021-01-17 12:49] jenshaase opened #179 "Make repl utils to load modules"
Currently you can not require or import modules into the repl. Therefore, a set of util functions for the repl should be created.

[2021-01-17 19:07] jenshaase commented on #169
First thing I did now is to split the core lib into multiple files and load them in the `core.phel` file. Therefore, I added the `load` function.

@Chemaclass Regarding your proposal:
* Splitting the set operation would be ok for me.
* Sequence operations and functions like `map`, `reduce` and `filter` are essential for functional programming. You will use them nearly very where. Therefore, I don'

[2021-01-17 19:18] #165 closed

[2021-01-17 19:19] jenshaase commented on #165
I fixed this now.

[2021-01-17 19:19] Chemaclass commented on #169
I agree with all what you said 👍

[2021-01-17 19:36] mabasic commented on #165
Great, I'm going to refactor the encode function asap. Maybe implement the decode function also if I find the time tonight.

[2021-01-17 19:58] jenshaase commented on #169
Ok. Thank you! I will close this now.

PS: Set Operation are currently just four methods so I keep them in core for now. If that changes I will reevaluate on that.

[2021-01-17 19:58] #169 closed

[2021-01-17 19:59] mabasic commented on #165
@jenshaase It seems there is a bug in the fix for this.

When I run `(foreach [k v (set 1 2 (set 1 2))] (println k v))`, I get:

[code]

Shouldn't it be?

[code]

[2021-01-17 20:54] jenshaase commented on #175
The composer plugin is now moved to the `phel-lang` organization.
https://github.com/phel-lang/phel-composer-plugin

I published it under the `phel-lang` name to packagist and released version 0.1.0.
https://packagist.org/packages/phel-lang/phel-composer-plugin

[2021-01-17 20:57] jenshaase commented on #174
Version 0.1 is now released on packagist: https://packagist.org/packages/phel-lang/phel-composer-plugin

[2021-01-17 20:57] #174 closed

[2021-01-19 12:16] mabasic opened #181 "Table as optional parameter"
When I try this:

[code]

I get:

[code]

[2021-01-19 15:59] jenshaase commented on #181
Oh, I forget some brackets around the table. It should be like this:
[code]

[2021-01-19 15:59] #181 closed

[2021-01-19 18:22] mabasic commented on #181
It worked. Thank you.

[2021-01-20 21:58] jenshaase opened #183 "Pasting code to the repl"
If I copy multiple forms at once into the REPL only the first form is evaluated.

Example:

Copy the code:
[code]

Paste it into the REPL. Output looks like this:
[code]

The behavior in other REPLs is different. The expected output should look like this:
[code]

All expression, except the last, are evaluated. The last expression needs to be evaluated by clicking enter. If that behavior is not pos

[2021-01-20 22:06] #179 closed

[2021-01-20 22:08] jenshaase commented on #179
It added a few Utils for the Repl to load other namespaces. I documented everything on the website: https://phel-lang.org/documentation/repl/

[2021-01-21 05:19] Chemaclass commented on #179
Nice! I was looking forward this one 👏

[2021-01-21 07:23] Chemaclass commented on #183
I cannot reproduce this issue? What I am doing is:
1)  `php phel repl`

2) copy-paste the example that you provide in the issue
[code]

3) Current behavior:
[code]

As I understood from the issue description is that the expected behavior is actually what I am seeing from the current behavior (?). Can you please double-check this? I tried this in docker and local.

[2021-01-21 07:38] Chemaclass opened #184 "Allow multiline REPL expressions"
#  User Story

As a user, I want to be able to write an expression in multiple lines in REPL.

## Current behavior

If you try to write an expression without the ending parenthesis because you want to keep writing in another line, you get an error like the following:
[code]

## Acceptance criteria

Don't finish the parsing/compilation of an expression by one line, but by the ending parenthesis.
-

[2021-01-21 08:49] JesusValera commented on #183
Works well for me too 👍🏼

[2021-01-21 15:04] JesusValera opened #186 "REPL Error not displaying properly"
If you write the following code in REPL, the error message is not working properly.

Maybe is because the "table" is not properly written?

[code]

[2021-01-21 19:17] jenshaase commented on #183
Interesting. Didn't work for me that way.

[2021-01-21 20:02] Chemaclass commented on #183
But does it work for you now? Did you tested locally and inside docker? 🤔

[2021-01-21 20:11] #186 closed

[2021-01-21 20:12] jenshaase commented on #186
I fixed this issue.

[2021-01-21 20:25] jenshaase commented on #183
No in docker it didn't work at all. It looks like this:
[code]

It adds bad symbols like `0~` and `1~`

[2021-01-21 20:27] mabasic commented on #183
Sometimes I also get symbols like `0~` and `1~` after pasting code. Using Windows Terminal or VS Code integrated terminal. Need to try on Linux to verify the same behavior.

[2021-01-21 20:35] jenshaase commented on #183
@Chemaclass @JesusValera What do you get when you paste something like this:

[code]

My result is this (after pressing enter):
[code]

[2021-01-21 20:43] Chemaclass commented on #183
@jenshaase, my result is this error:
[code]

[2021-01-21 20:53] jenshaase commented on #183
Ok, I think it mainly depends on how the PHP extension `readline` is build. There are two ways to build this library.

1. Based on GNU Readline
2. Based on Libedit

You can can check the version with this PHP command:
[code]
On my machine the version info shows `8.0` (which probably mean GNU Readline 8.0). In the docker container the version info is `EditLine wrapper` (which probably is libedit).

[2021-01-21 20:58] Chemaclass commented on #183
[code]

[2021-01-21 22:57] mabasic commented on #183
Windows Terminal:

[code]

VS Code integrated terminal:

[code]

I remember Laravel tinker/artisan having a similar issue few years ago, regarding `0~` and similar artifacts... can't remember how they have solved it.

[2021-01-21 23:00] mabasic opened #187 "Prevent REPL from being closed on Exception"
When I use REPL to test some code, I often type something which causes an Exception and it closes the REPL. Then I have to start it again and retype everything.

Is there a way to prevent Exceptions from closing REPL even if they are bugs in the repl. Something like a try catch at the top level.
I want to see the Exception, but I also want to continue doing what I was doing.

Example:

Try running

[2021-01-21 23:13] mabasic commented on #187
I've seen that PsySH has this functionality: https://psysh.org/

[2021-01-22 07:34] jenshaase commented on #183
Hi,

tinker/artisan is based on Psysh. I tried psysh myself and could reproduce the same `~0/~1` problem in der Docker container. There is an issue that discusses that problem: https://github.com/bobthecow/psysh/issues/636
It doesn't looks like there is good solution currently (except from building PHP with GNU Readline instead of libedit).

[2021-01-22 15:25] Chemaclass commented on #187
Thanks for reporting this issue, @mabasic. I created a PR already with the fix :)

[2021-01-22 15:25] #187 closed

[2021-01-22 16:10] jenshaase commented on #175
This repository is now moved to the phel-lang organization.

On packagist the package can now be found here: https://packagist.org/packages/phel-lang/phel-lang

The old packages still exist, but I will remove them in the next days.

[2021-01-22 16:10] #175 closed

[2021-01-22 22:00] jenshaase opened #189 "Repl Integration tests"
To make sure the latest issues on the REPL don't appear again, we should write integration tests for the REPL.

These integration tests should focus on testing error handling and their output messages.

[2021-01-23 15:01] Chemaclass commented on #184
Close in favor of the PR #191

[2021-01-23 15:01] #184 closed

[2021-01-23 15:09] mabasic opened #192 "Phel getting started templates"
The idea is that instead of doing all the work that is currently on [Getting Started](https://phel-lang.org/documentation/getting-started/) documentation page we would have two templates:

- blank template
- web template

**blank template** - Creates a Phel application which has the structure for creating libraries or command line programs.

**web template** - The same as blank template, but adds

[2021-01-23 18:42] #189 closed

[2021-01-23 21:46] jenshaase opened #193 "Document the internal of the compiler"
In future there should be a "Internals" guide that describes how the compiler and all the other components work.

For example:
* Describe the compiler pipeline
* What is a Lexer
* What is the output of the Lexer
* What is Munge.
* ....

[2021-01-23 21:55] jenshaase opened #194 "Better exception/error handling"
Currently it is not possible to define new Exception types in Phel. One can only use the existing PHP Exceptions or define new Exceptions in a new file.

This ticket should be used to develop a better alternative.

[2021-01-23 21:58] jenshaase opened #195 "Add a doc comment to every function in phel\core"
A few functions in `phel\core` don't have a doc comment yet. They need to be added.

[2021-01-24 09:15] jenshaase opened #196 "Create a Changelog.md"
With the first release there needs to be Changelog.md that lists all the changes between the versions.

[2021-01-24 12:27] JesusValera opened #197 "Set a color for the REPL output depending on the type"
## 📚  Description

I took this picture from elixir.

![image](https://user-images.githubusercontent.com/6381924/105629639-7940a980-5e44-11eb-9395-92ccd4a04add.png)

I like the idea of colour the output from the REPL console depending on the type.

What do you think? What colours should we use for each element type?

[2021-01-24 13:07] JesusValera opened #198 "Improve `phel fmt _DIR_`"
Currently, when we run `php phel` we get the following output:
[code]

I suggest
- `phel fmt _DIR_` -> recursively format the `.phel` files inside the specified folder
- `phel fmt` -> recursively browse all dirs from the current folder (¿excluding dirs like `vendor`?)

[2021-01-24 16:28] jenshaase commented on #197
Yes this can be added to the Printer. However, this should not be enabled by default, since the `print` function in the core library also uses the `Printer`.

First lets define, how many colors we need and then what colors there are. The colors should have high contrast on both white and black backgrounds.

[2021-01-24 16:31] jenshaase commented on #198
It should be possible to define multiple files and folders. For example
[code]

[2021-01-24 20:09] jenshaase commented on #195
Done.

[2021-01-24 20:09] #195 closed

[2021-01-25 21:05] jenshaase commented on #198
Fixed with #199

[2021-01-25 21:05] #198 closed

[2021-01-25 21:18] jenshaase commented on #192
@mabasic Sorry I'm not so much into composer project templates. Do you need to tag these templates somehow or can it be any packagist repository.  I mean we already have https://github.com/phel-lang/phel-scaffolding. Can I do this now?
[code]
What are the differences?

Any idea on how to automatically test these templates against the current master version? We should somehow be notified if we chan

[2021-01-25 21:40] mabasic commented on #192
You can, but see bellow.

`phel-scaffolding` repository includes a whole lot: docker, examples, a bunch of namespaces in composer.json, a build directory, a .github directory.

Where my idea for a great starting point is the the result of the getting started guide. Src folder with boot.phel file, and a tests folder with an example test. That is all. If you were to build a phel library, running tha

[2021-01-26 21:36] jenshaase commented on #197
I would suggest the following colors:

* nil `\033[0;96m%s\033[0m`
* string `\033[0;95m%s\033[0m`
* boolean `\033[0;94m%s\033[0m`
* symbol `\033[0;91m%s\033[0m`
* number `\033[0;92m%s\033[0m`
* Keyword `\033[0;93m%s\033[0m`

Test script
[code]

[2021-01-26 21:48] jenshaase commented on #192
Ok, I see your point. The code in the repository is much less then in `phel-scaffolding`. I will leave this open for discussions. We should evaluate all options and find the best way to get people started with Phel. But first I will release the first version.

[2021-01-27 21:12] #197 closed

[2021-01-28 10:28] aszenz opened #204 "The repl cannot print all values"
The repl cannot print all kinds of values, for some values the internal class name is shown, for others an exception is thrown
Examples:

[code]

[2021-01-28 12:08] aszenz opened #205 "Errored out expressions are not shown in repl history"
Using the up arrow in repl only traverses expressions that evaluated successfully, it's hard to fix an errored out expressions since it's not recorded in repl history

Example:
[code]

[2021-01-28 12:19] Chemaclass commented on #205
I did this intentionally. But now that you are reporting this issue, it makes me think that maybe it would be good as well to include in the repl-history all given inputs, and not only the successful ones 🤔 What do you think, @jenshaase?

[2021-01-28 12:20] jenshaase commented on #205
@aszenz is correct. We should add these to the history!

[2021-01-28 16:55] mabasic commented on #140
How about a PHP package which will wrap around `$GLOBALS["__phel"]["test"]["bar"](10);` somehow?

[2021-01-28 17:10] jenshaase commented on #140
If have a few ideas on how to do it. Since, I haven't see myself a use case to use Phel from PHP, what is your use case?

[2021-01-28 17:19] #205 closed

[2021-01-28 17:30] aszenz commented on #140
My own use case is to gradually introduce the language in a large scale application, with one way inter op I can easily reuse the existing functionality built into the application but any new functionality I add is only accessible from within phel which is slightly limiting.

What is even more limiting though is that phel packages will not be accessible to php code so that affects the development

[2021-01-28 19:52] mabasic opened #208 "Issue with strings supporting only double quotes"
While developing a json wrapper library I have stumbled upon an inconveniece where storing json in a variable becomes tedious.

eg. To store this JSON as a string I would have to escape all `"` chars.

[code]

Is there a better way to do this?

[2021-01-28 19:54] jenshaase commented on #204
Closed with #206

[2021-01-28 19:54] #204 closed

[2021-01-28 19:55] jenshaase commented on #208
No there is not. Maybe you can put it in a file and read the file?

[2021-01-28 20:00] #208 closed

[2021-01-28 20:20] jenshaase opened #209 "Create a concept for using Phel function from PHP"
After issues #140 and #10 already requested a method to call Phel function from PHP, this ticket will be used to create a concept on how to call Phel function from PHP.

[2021-01-28 20:21] jenshaase commented on #140
Thanks for that. I will investigate more in this topic.
I created another issue for that #209

[2021-01-28 23:41] mabasic opened #210 "New function: `php-indexed-array?`"
I happened to have a need for this function in `phel-json` package.

[code]

Can/should this be included in Phel core?

Btw. `range` works differently than PHPs `range`. Is that a bug? eg.

[code]

[2021-01-29 00:15] mabasic opened #211 "Comparing arrays"
This returns true, but I think that it should not

[code]

[2021-01-29 01:14] mabasic commented on #210
Also, issue  #211  is occurring here

[code]

[2021-01-29 07:57] Chemaclass opened #213 "Improve phel test api"
Currently, we have only `deftest` &  `is` as part of the phel test API.

I would like to have a better API with more expressive functions such as:
- `(is-equals expected actual)`
- `(is-true actual)`
- `(is-false actual)`
- `(is-nil actual)`

[2021-01-29 08:13] jenshaase commented on #210
Regarding `range`. It is correct that they differ. In Phel the end value is exclusiv. In PHP the end value is inclusive.

Tip: Instead of `(range 0 (count arr))` you can just write `(range (count arr))`

Regarding `php-indexed-array?`: You defined an empty as a non-indexed array. What is the idea behind that?

[2021-01-29 09:01] mabasic commented on #210
Nice tip, thank you.

`php-indexed-array?` returns true only if these criteria are true:

- is php array
- keys are are numeric/integer, sequential and zero-based

It returns true for empty arrays.

[2021-01-29 09:05] Chemaclass commented on #210
Instead of `php-indexed-array?`, what about `is-list?` or  `is-php-list?`?

[2021-01-29 09:07] mabasic commented on #210
If I was looking for something like this I would look for `indexed` and `associative`.

[2021-01-29 09:10] jenshaase commented on #210
There is `indexed?` already. But it doesn't do the same. I will check if it makes sense to change it.

[2021-01-29 09:11] Chemaclass commented on #210
I mentioned `is-list?` because there is coming a native PHP function in PHP 8.1 with that name.
[code]
Check it out -> https://wiki.php.net/rfc/is_list

[2021-01-29 16:33] #210 closed

[2021-01-29 16:34] jenshaase commented on #210
I update the `indexed?` method to work like you proposed.
Additionally I added the `associative?` method as counterpart.

[2021-01-29 16:35] mabasic commented on #210
@jenshaase Niceee! Going to update my code asap.

[2021-01-30 12:59] Chemaclass opened #216 "Display the origin of the potencial error when applying fmt command"
## Current Behaviour

If there is a malformed file in a directory that you wanted to apply the formatted, the output of running `phel fmt dir` is simply an error like `Unterminated list (BRACKETS)` but it doesn't tell you which line or file got such error.

## Acceptance Criteria

If the fmt encounters an error it should output the origin of that error to be able to trace it back.

[2021-01-30 18:49] jenshaase commented on #211
Fixed with #212

[2021-01-30 18:49] #211 closed

[2021-01-30 22:05] Chemaclass commented on #213
Wont do.

[2021-01-30 22:05] #213 closed

[2021-01-30 22:09] Chemaclass commented on #216
Done

[2021-01-30 22:09] #216 closed

[2021-01-31 18:33] #173 closed

[2021-01-31 18:33] #196 closed

[2021-02-02 19:07] Chemaclass opened #223 "Reorganize Exceptions"
Currently, we have all exceptions together in a directory named `Exceptions`.

We want to define the exceptions inside the module where they belong.
Also, get rid of the `\Exceptions` and `\RuntimeExceptions` and use a meaningful domain exception instead.

[2021-02-03 09:35] #223 closed

[2021-02-03 21:01] jenshaase commented on #209
@mabasic @aszenz This is what could be used to call Phel functions from PHP (see `ExampleWrapper`). Would that be helpful and is this enough or do you need more?

[2021-02-03 21:03] jenshaase commented on #209
I added a first draft for this in PR #226

[2021-02-04 15:47] Chemaclass opened #228 "Allow function declarations as function symbols"
## Current behavior

Currently, the function name must a string

[code]

### Clojure example

In Clojure, you can use the `set` as a filter to know if an element exists or not in a given set.
https://clojuredocs.org/clojure.core/set

[code]

## Acceptance Criteria

Implement this logic in Phel sets as well.

[2021-02-08 13:01] lov3catch opened #231 "Did you have patreon?"
Did you have patreon?

[2021-02-08 13:04] jenshaase commented on #231
No, sorry!

[2021-02-08 13:14] lov3catch commented on #231
Please enable "Sponsorship" on repository. Want to support :)

[2021-02-08 13:16] jenshaase commented on #231
Ok, thanks. I have figure out how that works. I leave this issue open until then.

[2021-02-19 23:03] swlkr opened #235 "A way to set method properties"
I was working through

https://github.com/walkor/Workerman#an-http-server

and there's currently no way to set a property on a method (without a setter).

Here's what I wanted to accomplish in phel:

[code]

I thought something like this might work:

[code]

[2021-02-22 20:20] #235 closed

[2021-02-22 20:31] jenshaase commented on #235
I added this feature, released a new version (0.2.0) and updated the documentation on the website. You can now do this:
[code]

[2021-02-22 20:32] jenshaase commented on #209
This was released in version 0.2.0. See documentation (https://phel-lang.org/documentation/php-interop/) for more information.

[2021-02-22 20:32] #209 closed

[2021-02-22 20:57] swlkr commented on #235
Nice! This should fix my problems!

[2021-03-07 12:43] mabasic commented on #192
I've updated my getting started templates:

https://github.com/mabasic/phel-cli

[code]

https://github.com/mabasic/phel-web

[code]

[2021-03-12 18:13] mabasic opened #247 "Phel performance"
While building a website with Phel I noticed that the TTFB is very long for a simple hello phel page.

It varies on my machine from 250ms to 300ms.

Once I have added some logic to the website, TTFB increased and is now around 600ms.

I have tested running a simple index.php file `<?php echo "Hello, World!"; ?>` on the same machine and I get around 5ms TTFB.

Can we leave this issue open until the

[2021-03-12 18:53] jenshaase commented on #247
Can you add example code for "a simple phel page" and a "page with logic"?

However, the goal is to have two options:
1. A cache of compiled files for development. Currently with every request all code is compile from scratch. Not only your code but also Phel's core library and all other libraries you may be using. It would be better to only compile the changed code and load the unchanged code fro

[2021-03-19 10:43] mabasic opened #252 "Function request: `table-key-exists`"
Currently to implement this I do:

[code]

Then I look if the output is not nil to confirm that the key is in the given table.

This could maybe be a function like `table-key-exists` (in PHP array_key_exists) or something like that.

[2021-03-21 14:54] mabasic opened #254 "Phel not throwing error when miss typing a word in `ns`"
I had this code:

[code]

Notice the `:requre` word. When using `phel run` to run the file it would not complain about `:requre`, but it would say:

[code]

If it complained about `:requre` I would not spend half an hour trying to figure out what is wrong. Could this be somehow handled?

[2021-03-30 20:43] mabasic opened #261 "Adding examples section to the Phel website"
I think that it would be great for adoption that people visiting the website see how Phel is being already used.

Here are some of my links. Others are welcome to add more stuff.

Links:

- https://github.com/mabasic/phel-json (Phel library for converting Phel data structures to and from JSON.)
- https://github.com/mabasic/mariobasic-n7 (Website built with Phel - source code)

[2021-04-17 14:44] kloimhardt commented on #261
- https://github.com/kloimhardt/bb-web#phelphp-backend (small no-install ClojureScript web-app with Phel backend)

[2021-05-03 06:23] Chemaclass opened #268 "Update data structures website documentation"
The `Persistent data structures` #244 was already merged in master. Now we need to update the website documentation. Especially these sections:

1. https://phel-lang.org/documentation/tuple/ -> now we have `list` (`(...)`) and `vector` (`[...]`) data structures
2. https://phel-lang.org/documentation/array-table-and-struct/ ->  instead of `table` we have a `hash-map` (e.g: `{:a 1 :b 2}`)

[2021-05-03 19:34] jenshaase commented on #268
See PR #270

[2021-05-04 10:25] mabasic commented on #247
My server was losing disk space and after some analysis I found out that my `/tmp` directory was getting filled with files called like this: `__phelV5EVe6`. After opening one file I found this inside:

[code]

Phel currently writes files to `/tmp` every time it compiles and then leaves the files behind.

Part of the output from `sudo ls /tmp`:

[code]

It was taking over 6 GB on my server.

I coul

[2021-05-04 10:31] mabasic commented on #247
@jenshaase  I have seen in other languages that compile to Javascript like Rescript and Fable/F# that they have a "compile" command (compiler) which generates (in this case) .php files next to the .phel files. We could then see the php output from each phel file. I think that this would solve everything that you wrote in your response?

[2021-05-05 19:56] mabasic opened #271 "Can't print TransientVector"
This is related to PR #246.

I needed to convert transient vector to a persistent vector for it to be able to print out.

[code]

Does this feature need to be implemented on the printer or is this the expected behavior?

[2021-05-05 20:29] Chemaclass commented on #268
Already merged https://github.com/phel-lang/phel-lang/pull/270

[2021-05-05 20:29] #268 closed

[2021-05-08 10:58] #271 closed

[2021-05-12 07:31] mabasic commented on #247
Just an update. It takes 8 days to fill my disk with tmp files. From 45% usage to 90% usage on a 25gb drive in 8 days.

[2021-05-12 18:23] jenshaase commented on #252
Resolved with PR #267. The method is named `contains?`.

[2021-05-12 19:45] #261 closed

[2021-05-12 19:47] jenshaase commented on #261
I added a 'In the wild' section to the website: https://phel-lang.org/documentation/in-the-wild/

[2021-05-15 08:08] mabasic opened #275 "`for` returns an array instead of a vector"
In the REPL:

[code]

It should be:

[code]

I was trying to convert `mabasic/json` library to use the new data structures and then I noticed that `for` still returns an array which breaks my tests.

[2021-05-15 19:38] jenshaase commented on #275
I created a pull request to solve the issue. After this is merged into master I will publish version 0.3.1.

[2021-05-16 18:59] #275 closed

[2021-05-16 19:04] jenshaase commented on #275
Version 0.3.1 has been released.

[2021-05-23 17:32] p810 commented on #254
I've only been playing around with the compiler for about a day now, so this is a very naive implementation of this and I'm not sure what side effects it might have (if any), but in the testing I have done [this change](https://github.com/p810/phel-lang/commit/71f9a4892439f10d2966178ae74d81c335c2c0c4) seems to address the issue.

I'm not 100% sure on this due to my limited experience, but it seems

[2021-05-23 17:55] mabasic commented on #254
This seems like the exact thing that would have saved me time when miss typing keywords. Nice work!

[2021-05-23 20:09] jenshaase commented on #254
@p810 Thanks for your commit. I added a comment to you change. Feel free to create a PR, I would like to merge it.

[2021-05-23 21:05] p810 commented on #254
@jenshaase updated :+1: The keyword in question is now also pointed to in the stack trace to make it more visible for the dev.

[2021-05-23 21:20] #254 closed

[2021-05-24 12:23] mabasic opened #287 "Having trouble using html with vectors nested inside a vector"
To recreate, in the REPL:

[code]

returns:

[code]

When used with the old array data structure it works:

[code]

[2021-05-24 12:33] mabasic commented on #287
As a workaround I've managed to get it working with lists, like so:

[code]

[2021-05-24 12:56] mabasic opened #288 "CompiledCodeIsMalformedException: Too few arguments to function Phel\Lang\Collections\Vector\AbstractPersistentVector::__invoke()"
This is strange.

Place this inside a file and require it in the REPL:

[code]

[code]

You will get an error similar to this one:

[code]
but if you change the `white` variable to become a function it all works:

[code]

Any ideas?

[2021-05-24 13:03] jenshaase commented on #288
You put `(portfolio/white)` in parentheses. This tries to execute `white` and since it is a vector it will call `__invoke` on a vector. That method expects one parameter. So you should remove the parentheses.

[2021-05-24 13:10] mabasic commented on #288
Does that mean that I can't have a vector in a variable? How would I reference it in code then?

[2021-05-24 13:16] mabasic commented on #288
Oh man, this breaks a bunch of stuff for me xD

[2021-05-24 13:16] #288 closed

[2021-05-24 13:21] jenshaase commented on #288
You can still use it. It is just a variable. In the repl you can type `portofolio/white` instead of `(portfolio/white)` and it prints the vector.

[2021-05-24 13:35] mabasic commented on #288
My issue is that I was reliant on being able to use parentheses for variables and functions, so that I can accept both functions and variables. I'll just change the code to be functions

[2021-05-24 15:41] mabasic commented on #287
This affects `for` loops mentioned in  #275

The for loop now correctly returns a vector instead of an array, but using a vector like shown above with `html` produces an error.

Can I convert a vector to a list to avoid this ftm?

[2021-05-24 16:31] jenshaase commented on #287
Hi,

it is correct that this is not working. What you can do is to wrap it in a outer element:
[code]

or use multiple arguments:
[code]

As alternative you can convert it to a list or to a PHP array (PHP array should be faster):
[code]

[2021-05-24 17:53] mabasic commented on #287
I see. Thank you for the solutions. I got it working with:

[code]

I could probably try to tackle this, but I don't know when. I'm trying to finish my website so that I can move to other projects xD.

[2021-05-25 06:51] Chemaclass commented on #183
Is this issue still relevant? Or should we close it? cc: @jenshaase

[2021-05-25 10:02] mabasic opened #289 "Can't put more than 16 key/value pairs in a hash map"
Steps to reproduce:

[code]

returns:

[code]

[2021-05-25 18:24] #287 closed

[2021-05-25 18:24] #183 closed

[2021-05-25 18:25] mabasic commented on #287
Shouldn't this be kept open since it worked before with arrays?

This is a very common thing to do

[2021-05-25 18:26] jenshaase commented on #158
I will close this ticket until Phel has enough usage.

[2021-05-25 18:26] #158 closed

[2021-05-25 18:28] jenshaase commented on #228
With release 0.3.0 this is working.

[2021-05-25 18:28] #228 closed

[2021-05-25 18:38] jenshaase commented on #287
Sorry, I forget to add a comment here. With the current design it is not possible to archive this. I can't make a decision if the first vector is meant to be a list of elements or a element.

[2021-05-25 18:40] mabasic commented on #287
Aha, I see. Should I then add the code samples from above in the documentation for HTML?

[2021-05-25 19:14] #289 closed

[2021-06-02 20:40] Chemaclass opened #302 "PersistenVector "Index 2688 is not in interval [0, 2688)""
I am getting an interesting error when running this code: https://github.com/Chemaclass/phel-in-a-nutshell/blob/master/src/command/independent-script.phel

<img width="1766" alt="Screenshot 2021-06-02 at 22 37 37" src="https://user-images.githubusercontent.com/5256287/120548858-23cc6880-c3f3-11eb-9a2f-14c39801a8d6.png">

Is this an actual bug, or is there a problem in my phel code?

[code]

[2021-06-03 19:59] #302 closed

[2021-06-03 20:36] jenshaase commented on #302
The problem happened on Vectors with the size of `length % 32 == 0`. The `RangeIterator` for this case had a bug that I fixed now.

[2021-06-05 11:35] Chemaclass opened #305 ""PHP Notice: Only variables should be passed by reference" when push'ing using a raw vector"
When passing a vector directly to `push` (not using a variable, but a raw vector) you get an ugly PHP Notice/Warning.
[code]

<img width="1014" alt="Screenshot 2021-06-05 at 13 30 05" src="https://user-images.githubusercontent.com/5256287/120890311-25b84680-c602-11eb-857a-47688ec74d00.png">
<img width="1022" alt="Screenshot 2021-06-05 at 13 30 18" src="https://user-images.githubusercontent.com/525

[2021-06-07 16:47] kloimhardt opened #309 "Project description update of "In the Wild" docs"
I combined "bb-web" + "qlkit-todo-demo" into one improved repository. Please replace the respective two bullet points with one:

- [lisp-webscript-examples](https://github.com/kloimhardt/lisp-webscript-examples): Minimal reactive web-apps combining Phel+(no install)ClojureScript via GraphQl

link: https://github.com/kloimhardt/lisp-webscript-examples

[2021-06-07 16:57] Chemaclass commented on #309
We moved recently the web to its own repository: https://github.com/phel-lang/phel-lang.org
Anyway, @JesusValera will work on it directly there. You don't need to re-create another issue or something.
Thanks for the update! 👌🏻

[2021-06-07 17:59] #309 closed

[2021-06-07 18:12] Chemaclass commented on #309
The code fix was already done. @jenshaase will update the website in the next version 👌🏻

[2021-08-17 15:57] #305 closed

[2021-08-20 14:27] HallofFamer commented on #247
How is Phel's performance relative to PHP? I think its a transpiler rather than an interpreter so it should not be much slower, but I am still curious about the speed. I am thinking about writing a Pharo Smalltalk transpiler into PHP similar to this one, and if the performance of Phel is close to raw PHP it will give me more hopes of that.

[2021-08-20 21:17] jenshaase commented on #247
@HallofFamer Phel is compiled to PHP code. Currently this is done on the fly every time you get a request. However, we are working on `compile` command that compiles the Phel code directly to PHP. You can then execute the PHP files directly. Therefore, there are no big performance issues (but I can give you any number or test suites for that)

[2021-08-21 16:00] HallofFamer commented on #247
@jenshaase

Thats interesting, so basically it uses a transpiler that generates PHP code which incurs no overhead? Can you show an example of Phel code and the generated/transpiled equivalent PHP code so I can compare? Thanks.

[2021-08-21 17:47] jenshaase commented on #247
Have a look at this folder: https://github.com/phel-lang/phel-lang/tree/master/tests%2Fphp%2FIntegration%2FFixtures

This is the integration test suite for the compiler. Each file contains Phel code and the corresponding PHP Code.

[2021-09-06 19:38] jenshaase opened #341 "Repl startup script is loaded with every command"
The REPL startup script (startup.phel) is loaded when a command is executed and not only when the REPL is executed.

The following code in `CommandFactory::createReplCommand()` does that:
[code]

The code needs to be moved inside the REPL command (e.g. execute method)

[2021-09-10 08:39] #341 closed

[2021-09-21 18:41] JesusValera opened #349 "Error `Runtime` could not be loaded"
I think since this PR https://github.com/phel-lang/phel-lang/pull/346, phel is not working anymore.
When you try to run the `composer install` command, the `Runtime` file is not generated and with the `phel test` command, everything explores 😄

You can investigate just simply cloning a new project, installing the dependencies and executing `composer test-all` for example.

[code]

[2021-09-21 18:53] Chemaclass commented on #349
Did you try to generate the `PhelRuntime.php` file with `phel runtime` command?

[2021-09-21 19:17] JesusValera commented on #349
Ok, I see!

I will close the issue then.

[2021-09-21 19:17] #349 closed

[2021-10-16 10:59] mabasic opened #369 "Could not find config key "export" in "Gacela\Framework\Config""
I have started updating my libraries and applications to Phel 4.0 and this is the first issue that I have come upon.

[code]

Nowhere in the documentation says that `export` field is required.

[2021-10-16 11:11] mabasic commented on #369
I have managed to solve this by adding:

[code]

to the `phel-config.php` file.

But then I am seeing this warning:

[code]

Maybe the gacela framework needs to have default values and ignore export key if none is provided.

[2021-10-16 11:12] mabasic opened #370 "Could not find config key "vendor-dir" in "Gacela\Framework\Config""
I just assumed that the default value `vendor` will be used and this it is not necessary to have it explicitly provided in the config. Am I wrong?

[2021-10-16 11:13] Chemaclass commented on #369
Yeah, that's a good point. I thought that the default values were already in place, but apparently, they are not.
For now, you could add the default values in your config file (to unblock you) but I will work on that. Thanks for reporting this!

[2021-10-16 13:15] mabasic commented on #192
I've updated my templates to use the latest phel version 0.4

[2021-10-16 13:23] mabasic opened #372 "Can we add the Hacktoberfest tag to the repository?"
https://hacktoberfest.digitalocean.com/resources/maintainers

[2021-10-16 13:26] Chemaclass commented on #372
I am just wondering what's the point of adding that tag to the repo or PRs? I am not against it, I just didn't find a reason or a goal why to do that. Maybe you can add that information in the issue description?

[2021-10-16 13:29] mabasic commented on #372
If you complete the challenge you can choose to plant a tree in your name or you can get a tshirt.

There are two ways to participate: as a maintainer or as a contributor.

Maintainer has to add the tag `hacktoberfest` to the repo or apply tag `hacktoberfest-accepted` to the PR and merge PRs.

Contributors have to submit PRs which get merged in this month.

[2021-10-16 13:30] mabasic commented on #372
I've played for two years now and I have one tree planted 👍

[2021-10-16 18:13] jenshaase commented on #372
I have heard of hacktoberfest, but only about the negative effects of it. I don't see any advantages of it yet. But if you want to do this challenge with Phel that I can add the tag to this repository.

[2021-10-16 18:25] mabasic commented on #372
If you don't want, you can only mark my PR with that tag `hacktoberfest-accepted` so that I can get credited for it.

[2021-10-17 20:17] Chemaclass commented on #372
I agree with @jenshaase. I don't see any problem adding the tag to some specific PR. Especially if you find some more typos or bug fixes, feel free to create a PR and we can add the label 🏷

[2021-10-17 20:17] #372 closed

[2021-11-13 17:56] Chemaclass commented on #59
What do you think @mabasic and @jenshaase about including the `json.phel` (and the tests, for sure) inside the `src/phel/` directory in the **phel-lang** repo? I think it would be great to have such thing inside the project, because it's a really common thing to have in a language. Also, it wouldn't affect the load-speed for the end user, because it will be compiled only if it's required.
Now read

[2021-11-13 19:29] mabasic commented on #59
Agreed. That was always my intention. I still need to write the documentation for creating a phel package.

[2021-11-14 18:45] jenshaase commented on #59
Yes we can merge them. Can somebody create a Pull Request?

[2021-11-14 18:47] mabasic commented on #59
I'll create a PR because there is one thing that needs changing in the library to be useful. I discovered it while building my website.

[2021-12-10 21:54] jenshaase opened #397 "TextExceptionPrinter::create method is not available anymore"
In the test library the method `TextExceptionPrinter::create` is called:

https://github.com/phel-lang/phel-lang/blob/6fb71e33c8e8b114e38cb64f166092bfb1e166da/src/phel/test.phel#L217

 This method isn't available anymore.

I would recommend to make it accessible from the CommandFacade

[2021-12-10 22:03] jenshaase opened #398 "Add a `fn?` function"
A new `fn?` method should be added.

Possible implementation:
[code]

Additionally the `type` method should be updated to return `:fn` if a function is provided.

[2021-12-11 11:46] JesusValera commented on #398
I am not sure if I understood correctly.
The new `fn?` function will return the `fn` if it already exists?

[2021-12-11 11:53] Chemaclass commented on #398
@JesusValera, the goal is to be able to know if a variable is a function.
`fn?` will be the function that receives an argument `x`, and `x` is the variable that you want to check if it's a function.

[2021-12-11 12:16] Chemaclass commented on #398
@jenshaase, I see we have already: `(php/is_callable x) :function` (see: `core.phel:597`). What would be the difference between `function?` and `fn?`? Well, the clear diff is that one check for `is_callable()` and the other one implements `FnInterface`, but does it make sense to have both? I think the requirements aren't 100% clear right now 🤔

[2021-12-11 12:31] jenshaase commented on #398
I think I overlooked this function yesterday. Then it is not required anymore. Using is_callable is even a better implementation. I will close this ticket now.

[2021-12-11 12:32] #398 closed

[2021-12-11 12:33] Chemaclass commented on #398
Lucky @JesusValera, that was fast... 😂

[2021-12-11 12:49] Chemaclass commented on #397
There is no `TextExceptionPrinter::create()` anymore, that's right, but how is this even working? How is it possible that I don't see any PHP error when I run a failing test? 😮 How could you reproduce this bug, @jenshaase?
<img width="784" alt="Screenshot 2021-12-11 at 13 47 38" src="https://user-images.githubusercontent.com/5256287/145677016-2a003b4e-4f92-4aff-967b-60d509c9c048.png">

[2021-12-11 12:51] jenshaase commented on #397
The test must not just fail. It must throw an exception.

[2021-12-11 20:28] #397 closed

[2021-12-20 19:30] jenshaase commented on #247
The compile command has been released in version 0.5.0

[2021-12-20 19:30] #247 closed

[2021-12-23 12:39] jenshaase opened #408 "Try to get remove all calls to GlobalEnvironmentSingleton in the compiled code"
Currently the compiled code contains lines like this:

[code]

It would be very good to remove these calls because we then don't have to initialize the GlobalEnvironmentSingleton.

[2021-12-23 12:58] jenshaase opened #409 "Create a way to load vendor/autoload.php from Phel code"
Currently there is no way to load the `vendor/autoload.php` file form Phel. The following two options are not working:

[code]

[code]

[2021-12-23 18:06] jenshaase opened #410 "Compile command should use Phel's error handling"
The compile command should use Phel's error handling

[2022-01-10 18:31] #409 closed

[2022-01-10 20:50] #408 closed

[2022-01-23 11:46] #410 closed

[2022-02-19 20:33] jenshaase opened #443 "Invalid emitted PHP code"
| Q                   | A               |
|---------------------|-----------------|
| Phel version        | 0.6.0          |
| PHP version         | 8.0.1          |

#### Summary

The following code produces invalid PHP code:

[code]

#### Current behavior

Throws exception:

`Phel\Compiler\Evaluator\Exceptions\CompiledCodeIsMalformedException: syntax error, unexpected variable "$b_770", expectin

[2022-03-02 19:53] #443 closed

[2022-04-16 09:55] Chemaclass opened #464 "Ignore the MixedReturnStatement errors from psalm level 1"
Currently, if we set psalm level 1 we get lot of these errors:
[code]

The reason is because `getProvidedDependency()` returns a `mixed`, and this is OK (and code from Gacela).
[code]

The solution for this could be defining a rule somehow in the `psalm.xml` config file to ignore these errors.

[2022-04-17 18:51] jenshaase commented on #464
Alternative solution could be to set the type:

[code]

[2022-04-27 08:31] mfaridw opened #467 "Failed to run a REPL"
| Q                   | A               |
|---------------------|-----------------|
| Phel version        | 0.6           |
| PHP version         | 8.1.2           |

#### Summary

I failed to run REPL from PowerShell. I have also tried to create a new project from the two methods provided but the result is still the same.

#### Current behavior

reproduce error messages :
[code]

#### How to repr

[2022-04-27 17:45] Chemaclass commented on #467
Fixed: https://github.com/phel-lang/phel-lang/pull/468

[2022-04-27 17:45] #467 closed

[2022-04-29 20:40] jenshaase opened #471 "Reusing a local variable in a function fails."
| Q                   | A               |
|---------------------|-----------------|
| Phel version        | 0.6.0           |
| PHP version         | 8.0.1           |

#### Summary

Reusing a local variable in a function fails.

#### Current behavior

The following code fails

[code]

with

[code]

#### How to reproduce

see above

#### Expected behavior

It should evaluate to the value `2`

[2022-04-29 21:02] jenshaase commented on #471
Similar problem:

[code]

This prints
[code]

and not
[code]

[2022-05-04 09:36] #471 closed

[2022-05-10 17:25] Anas-debug commented on #193
I would like to take this issue.

[2022-05-10 18:02] Chemaclass opened #478 "Add unit tests for RecurSymbol"
Under the namespace `PhelTest\Unit\Compiler\Analyzer\SpecialForm;` we don't have `RecurSymbolTest` yet. But you can find a lot of examples of unit tests for other SpecialForms inside the directory:
- `tests/php/Unit/Compiler/Analyzer/SpecialForm/`

<img width="1349" alt="Screenshot 2022-05-10 at 20 01 27" src="https://user-images.githubusercontent.com/5256287/167693102-b4e2ca8b-9711-4a4f-a0b7-80ae

[2022-05-10 18:04] Chemaclass opened #479 "Add unit tests for SetVarSymbol"
Under the namespace `PhelTest\Unit\Compiler\Analyzer\SpecialForm;` we don't have `SetVarSymbolTest` yet. But you can find a lot of examples of unit tests for other SpecialForms inside the directory:
- `tests/php/Unit/Compiler/Analyzer/SpecialForm/`

<img width="1349" alt="Screenshot 2022-05-10 at 20 01 27" src="https://user-images.githubusercontent.com/5256287/167693102-b4e2ca8b-9711-4a4f-a0b7-80a

[2022-05-10 18:05] Chemaclass opened #480 "Add unit tests for ThrowSymbol"
Under the namespace `PhelTest\Unit\Compiler\Analyzer\SpecialForm;` we don't have `ThrowSymbolTest` yet. But you can find a lot of examples of unit tests for other SpecialForms inside the directory:
- `tests/php/Unit/Compiler/Analyzer/SpecialForm/`

<img width="1349" alt="Screenshot 2022-05-10 at 20 01 27" src="https://user-images.githubusercontent.com/5256287/167693102-b4e2ca8b-9711-4a4f-a0b7-80ae

[2022-05-10 18:06] Chemaclass opened #481 "Add unit tests for TrySymbol"
Under the namespace `PhelTest\Unit\Compiler\Analyzer\SpecialForm;` we don't have `TrySymbolTest` yet. But you can find a lot of examples of unit tests for other SpecialForms inside the directory:
- `tests/php/Unit/Compiler/Analyzer/SpecialForm/`

<img width="1349" alt="Screenshot 2022-05-10 at 20 01 27" src="https://user-images.githubusercontent.com/5256287/167693102-b4e2ca8b-9711-4a4f-a0b7-80ae05

[2022-06-11 18:39] mabasic commented on #59
I have created a PR to merge phel-json library to Phel. I will try to do this task promptly.

[2022-06-19 20:42] Chemaclass opened #491 "Improve "You can not use this 'recur here" error message"
Sometimes I find it difficult for me to understand "Why I can't call 'recur here?"... maybe we could improve this error message by providing more context, reasons, and maybe how to fix it? In case yes, we could think to apply to similar messages?

I don't have a better solution right now, but we can think about it 🤔

[2022-06-25 10:23] Chemaclass opened #494 "Create constants for phel-config keys"
### Current behaviour

Currently we have to use raw-strings when defining the keys for the phel-config file.

[code]

### Desired behaviour

Define and use constants for them. Something like this:

[code]

----

Actually, by doing this, we might even don't need the nested level of "export" and keep it like this:
[code]

What do you think about this, @jenshaase? Or do you see a simpler approach?

[2022-06-29 19:34] jenshaase commented on #494
Actually I would like to keep the nested structure.

An object orientated way builder class would probably be the better solution:

[code]

I think this will give you the best of both worlds.

[2022-06-29 21:29] Chemaclass opened #495 "Phel compile triggers I/O"
| Q                   | A               |
|---------------------|-----------------|
| Phel version        | master          |
| PHP version         | PHP 8.1.6 (cli)        |

#### Summary

Phel `compile` executes the full code, especially the I/O from the snake-game.

#### Current behavior

The game starts on the terminal.

#### How to reproduce

[code]

https://user-images.githubusercontent.com/

[2022-07-13 13:43] Anas-debug commented on #481
I would like to take this issue.

[2022-07-23 19:50] mabasic commented on #287
Just going to leave this here for future reference:

[code]

another way (preferred):

[code]

[2022-10-02 19:19] Chemaclass commented on #495
I solved this by adding a check in the main script (similar as done in python):
https://github.com/Chemaclass/phel-snake/blob/master/src/game.phel#L113
[code]

And then adding that argv only when running the game: `vendor/bin/phel run src/game.phel play`
Or the compiled version: https://github.com/Chemaclass/phel-snake/blob/master/play.php#L11
[code]

[2022-10-02 19:19] #495 closed

[2022-10-02 19:29] Chemaclass opened #521 "Allow ignore phel files at compile time"
## 📖 Context

I usually have some code that render something or throw some exception in my `src/phel/local.phel`. And this is fine, because it's also gitignored. It's usually a nice file to do quick tests in your local env.

The issue comes when running the tests, the `CompileCommandTest` crashes because it runs also `local.phel` and throwing an exception is something that breaks the test.

### 💡

[2022-10-09 20:48] Chemaclass opened #523 "Add __name__ to identify the execution of a script"
## 🤔 Problem

Right now all code get executed on run time. For example:
[code]
This is a problem when trying to compile the code with `phel compile`, because the code gets stuck on the I/O...

A workaround is to add ask for an additional argument when executing the script ([url](https://github.com/Chemaclass/hello-phel/blob/master/src/rock-paper-scissors.phel#L57)):
[code]

This is fine, but tedio

[2022-10-11 21:04] Chemaclass commented on #523
I got another (potentially better) idea: introducing `__MAIN_NS__` as global constant defined in the `RunCommand`, so we can easily check for that value on any phel script, checking always the namespace. It would look like this:
[code]

I did already some drafting and it's working. I will create a PR soonish to have a better picture about it. We already have __FILE__ and __DIR__ ([see docs](https:

[2022-10-22 20:51] Chemaclass commented on #523
The idea of this feature was already solved by the existing `*compile-mode*`. See more https://github.com/phel-lang/phel-lang/pull/524#issuecomment-1286987738.
Therefore, there is no need for this anymore.

[2022-10-22 20:51] #523 closed

[2022-11-03 16:32] Chemaclass commented on #481
@Anas-debug feel free to submit your PR if no one else does it before 😄

[2022-11-03 18:51] Anas-debug commented on #481
@Chemaclass Thank you.